<%= x_card_top(title: "Companies") %>
	<div class="row">
		<div class="col-md-12">
			<%= company_tabs("Add Company") %>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<%= x_card_top(title: "Add Company") %>
			<form id="company" method="post" action="<%= @action %>" role="form" data-parsley-validate>
				<div class="row">
				 	<div class="col-md-6">
				 		<%= x_input(name: "name", id: "name", value: @company.name, label: "Company Name", required: true) %>
				 		<div class="error1" id="company_name_error">Company Name already exist!</div>
				 	</div>				 	
				 	<div class="col-md-6 books-search">
				 		<%= x_number(name: "naics", id: "naics", value: @company.naics, label: "NAICS", required: true) %>
				 		<%# x_number(name: "naics", id: "search_autocomplete1", value: @company.naics, label: "NAICS LOOKUP", placeholder: "Please enter number only!", required: true) %>
				 		<div class="results" id="books-search-results"></div> 
				 	</div>
				</div>
				<!-- <div class="row" id="mainW">
					<div class="col-md-4">
						<%#= x_select(name: "naics_sector_id", id: "naics_sector_id", option_data: @naics_sectors, label: "NAIC SECTOR", selected_value: "") %>
					</div>
					<div class="col-md-4">
						<%#= x_select(name: "naics_sub_sector_id", id: "naics_sub_sector_id", option_data: @naics_sub_sectors, label: "NAIC SUB SECTOR", selected_value: "") %>
				 	</div>
					<div class="col-md-4">
						<%#= x_select(name: "naics_industry_group_id", id: "naics_industry_group_id", option_data: @naics_industries, label: "NAIC INDUSTRY", selected_value: "") %>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-6">
						<%= x_input(name: "address_1", id: "address_1", value: @company.address_1, label: "Address", required: true) %>
				 		<div class="error1" id="company_address_error">Company Address already exist!</div>
					</div>
					<div class="col-md-6">
						<%= x_input(name: "address_2", id: "address_2", value: @company.address_2, label: "Address 2", required: true) %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<%= x_input(name: "city", id: "city", value: @company.city, label: "City", required: true) %>
					</div>
					<div class="col-md-3">
						<%= x_input(name: "state", id: "state", value: @company.state, label: "State", required: true) %>
					</div>
					<div class="col-md-3">
						<%= x_zip(name: "zip", id: "zip", value: @company.zip, label: "Zip", required: true) %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<%= x_phone(name: "phone", id: "phone", value: @company.phone, label: "Phone", required: true) %>
					</div>
					<div class="col-md-6">
						<%= x_url(name: "website", id: "website", value: @company.website, label: "Website", required: true) %>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<%= x_input(name: "contact_first_name", id: "contact_first_name", value: @company.contact_first_name, label: "Contact First Name", required: true) %>
					</div>
					<div class="col-md-3">
						<%= x_input(name: "contact_last_name", id: "contact_last_name", value: @company.contact_last_name, label: "Contact Last Name", required: true) %>
					</div>
					<div class="col-md-3">
						<%= x_phone(name: "contact_phone", id: "contact_phone", value: @company.contact_phone, label: "Contact Phone", mask: "(999) 999-9999 x99999", required: true) %>
					</div>
					<div class="col-md-3">
						<%= x_email(name: "contact_email", id: "contact_email", value: @company.contact_email, label: "Contact Email", required: true) %>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<%= x_money(name: "revenue", id: "revenue", value: @company.revenue, label: "Annual Revenue", required: true) %>
					</div>
					<div class="col-md-4">
						<%= x_number(name: "employees", id: "employees", value: @company.employees, value: "0", label: "Total Employees", required: false) %>
					</div>
					<div class="col-md-4">
						<%= x_money(name: "ebitda", id: "ebitda", value: @company.ebitda, label: "Annual EBITDA", required: false) %>
					</div>
				</div>
				<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
			</form>
			<%= x_card_bottom %>
		</div>
		<div class="col-md-4">
			<%= x_card_top(title: "Instructions") %>
				There's a few pieces of information that we'll need to in order to add a company. Please fill out the information in the form on this page to check to see if a company already exists in the database. 
			<%= x_card_bottom %>
			<%= erb :"../modules/profile/views/widgets/contact_support" %>
		</div>
	</div>
<%= x_card_bottom %>
<% content_for :js_scripts do %>
	<script type="text/javascript">
		// $("#name").change(function(event) {
		// 	/* Act on the event */
		// 	var name = $("#name").val();
		// 	$.ajax({
  //       url: "/companies/check_company/",
  //       type: "POST",
  //       dataType: "json",
  //       data: { name: name},
  //       complete: function() {},
  //       success: function(data, textStatus, xhr){
  //         if (data.status == 200) {
  //           $("#company_name_error").show();
  //         } else if (data.status == 204) {
  //           $("#company_name_error").hide();
  //         } else {
  //         	alert(data.message)
  //         }
  //       },
  //       error: function() {
  //         alert("There are some error, Please try again!")
  //       }
  //     });
		// });
		// $("#address_1").change(function(event) {
		// 	/* Act on the event */
		// 	var address = $("#address_1").val();
		// 	$.ajax({
		// 		url: "/companies/check_company/",
		// 		type: "POST",
		// 		dataType: "json",
		// 		data: { address: address},
		// 		complete: function() {},
		// 		success: function(data, textStatus, xhr){
		// 			if (data.status == 200) {
		// 				$("#company_address_error").show();
		// 			} else if (data.status == 204) {
		// 				$("#company_address_error").hide();
		// 			} else {
		// 				alert(data.message)
		// 			}
		// 		},
	 //      error: function() {
	 //       	alert("There are some error, Please try again!")
	 //      }
  //     });
		// });
		// $(function () {
		// 	var getData = function (request, response) {
		// 		$.ajax({
		// 			url: "/companies/find_naics/",
		// 			type: "POST",
		// 			dataType: "json",
		// 			data: { term: request.term},
		// 			complete: function() {},
		// 			success: function(data, textStatus, xhr){
		// 				if (data.status == 200) {
		// 					var result = [];
		// 					$.each(data.naics, function (i, a) {
		// 					  a.label = a.code;
		// 					  result.push(a);
		// 					});
		// 					response(result);
		// 				} else {
		// 					alert(data.message)
		// 				}
		// 			},
		// 			error: function() {
		// 				alert("There are some error, Please try again!")
		// 			}
		// 		});
		// 	};

		// 	var selectItem = function (event, ui) {
		// 		$("#search_autocomplete1").val(ui.item.value);
		// 		$("#naic_id").val(ui.item.id)
		// 		$.ajax({
		// 			url: "/companies/find_naic_sectors/",
		// 			type: "POST",
		// 			dataType: "json",
		// 			data: { term: ui.item.value},
		// 			complete: function() {},
		// 			success: function(data, textStatus, xhr){
		// 				if (data.status == 200) {
		// 					$("#naics_sector_id").val(data.naics_sectors.id)
		// 					// var naicSector = [] 
		// 					// $.each(data.naics_sectors, function (i, a) {
		// 					//   naicSector.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 					// });
		// 					// $("#naics_sector_id").html(naicSector)

		// 					// var naicSubSector = [] 
		// 					// $.each(data.naic_sub_sectors, function (i, a) {
		// 					//   naicSubSector.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 					// });
		// 					// $("#naics_sub_sector_id").html(naicSubSector)

		// 					// var naicIndustry = [] 
		// 					// $.each(data.naic_industries, function (i, a) {
		// 					//   naicIndustry.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 					// });
		// 					// $("#naics_industry_group_id").html(naicIndustry)
		// 				} else {
		// 					alert(data.message)
		// 				}
		// 			},
		// 			error: function() {
		// 				alert("There are some error, Please try again!")
		// 			}
		// 		});
		// 		return false;
		// 	}

		// 	$("#search_autocomplete1").autocomplete({
		// 		source: getData,
		// 		appendTo: '#books-search-results',
		// 		select: selectItem,
		// 		minLength: 2,
		// 		change: function(event, ui) {
		// 			if (ui.item === null) {
		// 				$(this).val('');
		// 				$('#naic_id').val('');
  //         }
		// 		}
		// 	});
  //   });

		// $("#naics_sector_id").change(function(event) {
		// 	var naics_sector_id = $("#naics_sector_id").val();
		// 	$.ajax({
		// 		url: "/companies/find_naic_sectors/",
		// 		type: "POST",
		// 		dataType: "json",
		// 		data: { naics_sector_id: naics_sector_id},
		// 		complete: function() {},
		// 		success: function(data, textStatus, xhr){
		// 			if (data.status == 200) {
		// 				var naicSubSector = [] 
		// 				$.each(data.naic_sub_sectors, function (i, a) {
		// 				  naicSubSector.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 				});
		// 				$("#naics_sub_sector_id").html(naicSubSector)

		// 				var naicIndustry = [] 
		// 				$.each(data.naic_industries, function (i, a) {
		// 				  naicIndustry.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 				});
		// 				$("#naics_industry_group_id").html(naicIndustry)
		// 			} else {
		// 				alert(data.message)
		// 			}
		// 		},
		// 		error: function() {
		// 			alert("There are some error, Please try again!")
		// 		}
		// 	});
		// });

		// $("#naics_sub_sector_id").change(function(event) {
		// 	var naics_sub_sector_id = $("#naics_sub_sector_id").val();
		// 	$.ajax({
		// 		url: "/companies/find_naic_sectors/",
		// 		type: "POST",
		// 		dataType: "json",
		// 		data: { naics_sub_sector_id: naics_sub_sector_id},
		// 		complete: function() {},
		// 		success: function(data, textStatus, xhr){
		// 			if (data.status == 200) {
		// 				var naicIndustry = [] 
		// 				$.each(data.naic_industries, function (i, a) {
		// 				  naicIndustry.push("<option value='" + a.id + "'>" + a.name + "</option>");
		// 				});
		// 				$("#naics_industry_group_id").html(naicIndustry)
		// 			} else {
		// 				alert(data.message)
		// 			}
		// 		},
		// 		error: function() {
		// 			alert("There are some error, Please try again!")
		// 		}
		// 	});
		// });
	</script>
<% end %>