<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>
<%= company_score_tabs("Base Business") %>
<div class="row">
	<div class="col-md-12">
		<%= x_card_top(title: "Add Base Score") %>
		<form id="base_score" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="row">
			 	<div class="col-md-6">
			 		<%= x_input(name: "performance_analysis", id: "performance_analysis", value: @base_score.performance_analysis, label: "Performance Analysis", required: true) %>
			 	</div>
			 	<div class="col-md-6">
			 		<%= x_input(name: "importance", id: "importance", value: @base_score.importance, label: "Importance", required: false) %>
			 	</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= x_input(name: "comments", id: "comments", value: @base_score.comments, label: "Comment", required: true) %>
				</div>
				<div class="col-md-6">
					<%= x_input(name: "assessed", id: "assessed", value: @base_score.assessed, label: "Assessed", required: true) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label> Possible </label>
						<sup class="text-danger">*</sup>
						<input type="number" class="form-control" id="possible" name="post[possible]" value="<%= @base_score.possible %>" data-parsley-type="number" required/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label> Score </label>
						<sup class="text-danger">*</sup>
						<input type="number" class="form-control" id="company_score" name="post[company_score]" value="<%= @base_score.company_score %>" data-parsley-type="number" required/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label> Impact Zone </label>
						<sup class="text-danger">*</sup>
						<input type="number" class="form-control" id="impact_zone" name="post[impact_zone]" value="<%= @base_score.impact_zone %>" data-parsley-type="number" required/>
					</div>
				</div>
			</div>

			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
</div>