<%= company_detail_tabs("Contacts") %>
 
<div class="row">
	<div class="col-md-12">
		<%= x_card_top(title: "Company Contact") %>
		<form id="company_user" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="row">
				<div class="col-md-6">
					<%= x_input(id: "first_name", name: "first_name", label:"First Name", required: true) %>
					<%= x_input(id: "last_name", name: "last_name", label:"Last Name", required: true) %>
					<%= x_email(id: "email", name: "email", label:"Email", required: true) %>
					
				</div>
				<div class="col-md-6">
					<%= x_input(id: "phone", name: "phone", label:"Phone", required: true) %>
					<%= x_input(id: "title", name: "title", label:"Title", required: true) %>
				</div>
			</div>
			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
</div>