<%= x_card_top(title: "Affiliate Relationship") %>
	<%= company_detail_tabs("Affiliate Relationship") %>
	<hr>
<form id="id" method="post" action="<%= @action %>" role="form" data-parsley-validate>
<div class="row">
	<div class="col-md-6">
		<input type="hidden" name="post[affiliate_id]" value="<%= session[:affiliate_id] %>" />
		<%= x_checkbox(name: "active", id: "active", value: 1, checked: false,label: "Active") %>
	</div>
	<div class="col-md-6">
		<%= x_checkbox(name: "allow_report_view", id: "allow_report_view", value: 1, checked: false,label: "Allow Report View") %>
	</div>
</div>
<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
</form>

<%= x_card_bottom %>