<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
	<%= company_detail_tabs("Network") %>
	<hr>
	<!-- Start Table -->
	<div class="table-wrapper">
	 <div class="toolbar">
	      <!--  Here you can write extra buttons/actions for the toolbar  -->
	 </div>
		<table class="datatable table table-hover">
			<thead>
				<tr>
					<th>Affiliate</th>
					<th>Company Approved Date</th>
					<th>Categories</th>
					<!-- <th data-field="actions" class="td-actions text-right">Actions</th> -->
				</tr>
			</thead>
			<tbody>
				<% @affiliate_relationships.each do |affiliate_relationship| %>
				<tr>
					<td><%= affiliate_relationship.affiliate.name rescue nil %></td>
					<td><%= x_format_date(date: affiliate_relationship.company_approved_date, show_month: true, show_time: false)%></td>
					<td><%= affiliate_relationship.affiliate.affiliate_specialties.affiliate_category.map(&:name).join(",") rescue nil %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- End Table -->
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>		
	</div>
</div>