<div class="row">
  <div class="col-md-8">
    <%= x_card_top(title: "#{@company.name}") %>
      <%= company_detail_tabs("Alerts") %>
      <hr>

       <table class="table table-hover table-striped">
        <thead>
        <tr>
        <th nowrap>Name</th>
        <th>Description</th>
        <th>Alert Date</th>
        </tr>
        </thead>

        <tbody>
            <% @alerts.each do |alert| %>
                <tr>
                    <td valign="middle" class="align-middle" nowrap><%= alert.name %></td>
                    <td valign="middle" class="align-middle"><strong><%= alert.message %></strong></td>
                    <td valign="middle" class="align-middle"><%= x_format_date(date: alert.alert_date, show_month: true, show_time: false) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>  
  <%= x_card_bottom %>
  <div class="col-md-4">
    <%= erb :"../modules/companies/views/widgets/summary_widget" %>
  </div>
</div>    