<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>
<%= company_score_tabs("Base Business") %>
<div class="row">
  <div class="col-md-12">
    <h2>Base Business Score Details</h2>
    <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <a href="/companies/<%= params[:x_id]%>/base/add" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Base Score</a>
    </div>
    <br>
    <table class="table table-hover table-striped">
    <thead>
    <tr>
    <th>Financial Performance Analysis</th>
    <th>Importance</th>
    <th>Comments/Details</th>
    <th>Possible</th>
    <th>Assessed</th>
    <th>Score</th>
    <th nowrap>Impact Zone</th>
    </tr>
    </thead>
    <tfoot>
      <tr>
        <td valign="middle" class="align-middle" nowrap></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong><%= @sum_of_possible %></strong></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong><%= @sum_of_score %></strong></td>
        <td valign="middle" class="align-middle"><strong><%= (@sum_of_impact_zone/(@base_scores.count).to_f).round(2) %>%</strong></td>
      </tr>
    </tfoot>
    <tbody>
      <% @base_scores.each do |base_score| %>
        <tr>
          <td valign="middle" class="align-middle" nowrap><%= base_score.performance_analysis %></td>
          <td valign="middle" class="align-middle"><strong><%= base_score.importance %></strong></td>
          <td valign="middle" class="align-middle"><%= base_score.comments %></td>
          <td valign="middle" class="align-middle"><%= base_score.possible %></td>
          <td valign="middle" class="align-middle"><%= base_score.assessed %></td>
          <td valign="middle" class="align-middle"><%= base_score.company_score %></td>
          <td valign="middle" class="align-middle"><span class="btn btn-fill <%= base_score.impact_zone > 0 ? 'btn-success' : 'btn-danger'%>"><%= base_score.impact_zone %></span></td>
        </tr>
      <% end %>
    </tbody>
</table>
<br><br><br><br>
  </div>
</div>
<%= x_card_bottom %>