<div class="row">
	<div class="col-md-8">
	<%= x_card_top(title: "#{@company.name}") %>
	<%= company_detail_tabs("Contacts") %>
	<hr>
	<!-- Start Table -->
	<div class="table-wrapper">
	 <div class="toolbar">
	      <!--  Here you can write extra buttons/actions for the toolbar  -->
	      <a href="/companies/<%= @company.x_id %>/contacts/add" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Contacts</a>
	 </div>
		<table class="datatable table table-hover">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Email</th>
					<th data-field="actions" class="td-actions text-right">Actions</th>
				</tr>
			</thead>
	
			<tbody>
				<% @contacts.each do |contact| %>
				<tr>
					
					<td><a href="/companies/<%= params[:x_id] %>/company_users/<%= contact.id %>"><%= contact.first_name %>
							</a></td>
					<td><%= contact.email %></td>
					<td>
						<a href="/companies/<%= params[:x_id] %>/company_users/<%= contact.id %>" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
						<a href="/companies/<%= params[:x_id] %>/company_users/delete/<%= contact.id %>" class="btn btn-xs btn-danger delete-row"><i class="fa fa-trash-o text-danger" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- End Table -->
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @first_company_user_created_alert %>") {
        swal({
                	icon: "success",
                	text: "First company user added under <%= @company.name %>."
        });
      }
    });
  </script>
<% end %>