<!-- Start  -->
<div class="row">

	 <!-- Start left col -->
  <div class="col-md-8">
  <%= x_card_top(title: "#{@company.name}") %>
  <%= company_detail_tabs("Dashboard") %>
  <div class="chart" id="dash1-flotchart-1" style="width: 100%; height: 420px"></div>    

  <%= x_card_bottom %>

      <%= x_card_top(title: "Report History") %>
    <table class="table text-nowrap">
    <thead>
      <th>Report Date</th>
      <th>TEVO</th>
      <th>Level</th>
      <th></th>
    </thead>
      <tbody>

      <% @company.reports.all(limit: 5, order: :date_created.desc, deleted: false).each do |report| %>
      <tr>
        <td><%= x_format_date(date: report.date_created, show_month: true, show_time: false)%></td>
        <td><%= report.tevo rescue nil %></td>
        <td><%= report.level %></td>
        <td>
          <a href="<%= get_loan_pdf_link_https(s3_path: report.s3_path)%>" target="_blank"><i class="fa fa-cloud-download"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= x_card_bottom %>
      
  </div><!-- End left col -->

	<!-- Start right col -->
  <div class="col-md-4">
   <%= erb :"../modules/companies/views/widgets/summary_widget" %>
        
  </div><!-- End right  col -->
	
</div>
<!-- End  -->

<% content_for :js_scripts do %>
    <script>
    $(function () {

     <% @company.scores.each do |report| %>
      var data_<%= report.id %> = [
         <% unless report.tevo == "" %>[<%= report.score_date.to_i*1000 %>, <%= report.tevo %>, '<%= report.id %>'],<% end %>
      ];
      <%end%>
    var plot1 = $.plot($('#dash1-flotchart-1'),
      [

       <% @company.scores.each_with_index do |item, index| %>
        {
          data: data_<%= item.id %>, 
          label: "<%= item.tevo rescue nil%>"
        }<%= "," unless @company.scores.size - 1 == index %>
      
      <% end %>
      ], 
      {
      series: {
        lines: {
          show: true,
          zero: true,
          fill: true,
          fillColor: {
            colors: [{ opacity: 0 }, { opacity: .2 }]
          }
        },
        points: { show: !0, radius: 4 },
        highlightColor: '#FAFAFA',
      },
      colors: ['#396AB1', '#DA7C30', '#3E9651', '#CC2529', '#535154', '#6B4C9A', '#922428', '#948B3D'],
      grid: {
        show: !0,
        hoverable: !0,
        borderWidth: 0,
        clickable: 1,
        margin: { left: 30, right: 30, bottom: 30, top: 30 }
      },
      xaxis: { 
        show: 1, 
        mode: "time", 
        minTickSize: [1, "quarter"],
        min: <%= (DateTime.now - 15.months).to_i * 1000 %>,
        max: <%= (DateTime.now + 2.month).to_i * 1000 %>
        // minTickSize: [1, "month"]
      },
      yaxis: { show: 1, min: 400, max: 890 },
      legend : {
        show: 0,
        labelFormatter: function(label, series) {
          return "<div class='ml-1 hidden' style='color: "+series.color+";'>"+ label +"</div>";
        }
      },
      // tooltip: { 
      //   show: !0,
      //   content: '%y',
      //   cssClass: 'flotTip-with-arrow',
      //   defaultTheme: !1,
      //   shifts: { x: -28, y: -60 }
      // }
    });
    // $("#dash1-flotchart-1").on("plothover", function(event, pos, item){
    // event.preventDefault();
    // document.body.style.cursor = 'default';
    // if (item) {
    //     document.body.style.cursor = 'pointer';
    // }
    // });
     $("#dash1-flotchart-1").on("plotclick",function(event,pos,item){
        if(item){
          url = item.series.data[item.dataIndex].slice(-1)[0];
          window.location.href = "/companies/<%= params[:x_id] %>/reports/" + url;
        }
    });
     function showTooltip(x, y, contents, z) {
        $('<div class="tooltip graphtip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 50,
            'font-size': '14px',
            // border: '1px solid rgb(255, 221, 221)',
            padding: '2px',
            'background-color': z,
            opacity: '0.8'
        }).appendTo("body").show();
    }
    
    $(".chart").bind("plothover", function (event, pos, item) {
        if (item){
            $(".tooltip").remove();
            var label = item.series.label;
            $([plot1]).each(function(i,plotObj){
                var someData = plotObj.getData();
                for (var i=0; i<someData.length; i++){
                    if (someData[i].label == label){
                        for (var j = 0; j < someData[i].data.length; j++){
                            var point = someData[i].data[j];
                            if (point[0] == item.datapoint[0]){
                                var somePos = plotObj.pointOffset({x: point[0], y: point[1]});  
                                var divPos = plotObj.getPlaceholder().offset();
                                showTooltip(somePos.left+divPos.left, somePos.top+divPos.top, label, item.series.color);
                                setTimeout(function() { $(".tooltip").remove(); }, 2000);  
                            }
                        }
                    }                
                }               
            });
        }        
    });

    $('#dash1-flotchart-1').mouseout(function(){
      $(".tooltip").remove();
    });

    });
    </script>

<script src="/plugins/bootstrap-progressbar.js"></script>
<script src="/plugins/raphael-2.1.4.min.js"></script>
<script src="/plugins/justgage-1.1.0.min.js"></script>
<script src="/plugins/globalize.min.js"></script>
<script src="/plugins/dx.webappjs.js"></script>
<script src="/plugins/dx.chartjs.js"></script>

<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/js/demo.js"></script>
<script>
$('#multiplier_graph').dxCircularGauge({
  scale: {
    startValue: 1, endValue: 8,
    majorTick: {
      color: '#536878',
      tickInterval: 1
    },
    label: {
      indentFromTick: 3
    }
  },
  rangeContainer: {
    offset: 45,
    width: 38,
    ranges: [
    { startValue: 1, endValue: 2, color: '#A71F21' },
    { startValue: 2, endValue: 3, color: '#EDBF12' },
    { startValue: 3, endValue: 4, color: '#F8F020' },
    { startValue: 4, endValue: 5, color: '#C3FD2A' },
    { startValue: 5, endValue: 6, color: '#61A22B' },
    { startValue: 6, endValue: 7, color: '#61A22B' },
    { startValue: 7, endValue: 8, color: '#61A22B' }
    ]
  },
  valueIndicator: {
    offset: 40
  },
  subvalueIndicator: {
    offset: -25
  },
  title: {
   // text: '3.4x EBITDA',
   font: { size: 28 }
 },
 geometry: { startAngle: 180, endAngle: 0 },
  value: 3.4//,
  //subvalues: [40, 90]
});

$('#progressbar').progressbar();

$().ready(function(){
  demo.initCharts();
});
</script>
<% end %>