<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>
<%= company_score_tabs("Financial Analysis") %>
		<div class="row">
  <div class="col-md-12">
  <br>
  <h2>Financial Analysis Score Details</h2>
  <br>
   <br>
    <table class="table table-hover table-striped">
    <thead>
    <tr>
    <th>Financial Performance Analysis</th>
    <th>Importance</th>
    <th>Comments/Details</th>
    <th>Possible</th>
    <th>Assessed</th>
    <th>Score</th>
    <th nowrap>Impact Zone</th>
    </tr>
    </thead>
     <tfoot>
    <tr>
        <td valign="middle" class="align-middle" nowrap></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong>248</strong></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong>164</strong></td>
        <td valign="middle" class="align-middle"><strong>66%</strong></td>
        </tr>
    </tfoot>
    <tbody>
    <% @finances.each do |finance|%>
    
    <tr>
        <td valign="middle" class="align-middle" nowrap><%= finance.financial_performance_analysis%></td>
        <td valign="middle" class="align-middle"><strong><%= finance.importance%></strong></td>
        <td valign="middle" class="align-middle"><%= finance.comments%></td>
        <td valign="middle" class="align-middle"><%= finance.possible%></td>
        <td valign="middle" class="align-middle"><%= finance.assessed%></td>
        <td valign="middle" class="align-middle"><%= finance.score%></td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-danger"><%=finance.impact_zone%></span></td>
    </tr>
    <%end%>
    </tbody>
</table>
<br><br><br><br>
  </div>
</div>
<%= x_card_bottom %>