<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>
<%= company_score_tabs("Growth & Opportunities") %>
		<div class="row">
  <div class="col-md-12">
  <br>
  <h2>Growth Opportunity Score Details</h2>
  <br>
   <br>
    <table class="table table-hover table-striped">
    <thead>
    <tr>
    <th>Financial Performance Analysis</th>
    <th>Importance</th>
    <th>Comments/Details</th>
    <th>Possible</th>
    <th>Assessed</th>
    <th>Score</th>
    <th nowrap>Impact Zone</th>
    </tr>
    </thead>
     <tfoot>
    <tr>
        <td valign="middle" class="align-middle" nowrap></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong>248</strong></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle"><strong>164</strong></td>
        <td valign="middle" class="align-middle"><strong>66%</strong></td>
        </tr>
    </tfoot>
    <tbody>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Reliable Financial Reports</td>
        <td valign="middle" class="align-middle"><strong>Important</strong></td>
        <td valign="middle" class="align-middle">No formal process, being implemented going forward, data not easy to get to</td>
        <td valign="middle" class="align-middle">20</td>
        <td valign="middle" class="align-middle">Neutral</td>
        <td valign="middle" class="align-middle">10</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-danger">-9</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Metrics Based Financial Management Revenue trend / trajectory</td>
        <td valign="middle" class="align-middle"><strong>Mildly Important</strong></td>
        <td valign="middle" class="align-middle">Some in place such as realization targets - only looking historically, no forecasting or management</td>
        <td valign="middle" class="align-middle">12</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">8</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-4</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Revenue trend / trajectory</td>
        <td valign="middle" class="align-middle"><strong>Important</strong></td>
        <td valign="middle" class="align-middle">Revenue trend '15 to '16 is forecasted to be flat (used straight line extrapolation to forecast FYE 2016).</td>
        <td valign="middle" class="align-middle">20</td>
        <td valign="middle" class="align-middle">Neutral</td>
        <td valign="middle" class="align-middle">10</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-danger">-9</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Expense trend / trajectory</td>
        <td valign="middle" class="align-middle"><strong>Very Important</strong></td>
        <td valign="middle" class="align-middle">Based on straight line forecast expenses should be in line with 2015 and flat.</td>
        <td valign="middle" class="align-middle">32</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">21</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-danger">-10</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Margin trend / trajectory</td>
        <td valign="middle" class="align-middle"><strong>Highest Importance</strong></td>
        <td valign="middle" class="align-middle">Gross margin as calculated appears to be fairly consistent over the last 3 years (27- 29%)</td>
        <td valign="middle" class="align-middle">51</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">35</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-danger">-17</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Cash flow trend / trajectory</td>
        <td valign="middle" class="align-middle"><strong>Very Important</strong></td>
        <td valign="middle" class="align-middle">Working Capital improved (positive vs negative in 2015). Profitability has been strong on flat revenue and October's A/R was down over FYE 12/31/15.</td>
        <td valign="middle" class="align-middle">32</td>
        <td valign="middle" class="align-middle">Very Positive</td>
        <td valign="middle" class="align-middle">26</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-4</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Relative profitability margins vs. peers / industry</td>
        <td valign="middle" class="align-middle"><strong>Important</strong></td>
        <td valign="middle" class="align-middle">Management advises "at or above, a lot invested in the team"</td>
        <td valign="middle" class="align-middle">20</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">13</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-8</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Relative growth vs. peers / industry</td>
        <td valign="middle" class="align-middle"><strong>Important</strong></td>
        <td valign="middle" class="align-middle">In line with rest of industry</td>
        <td valign="middle" class="align-middle">20</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">13</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-6</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Revenue types (one-time / recurring)</td>
        <td valign="middle" class="align-middle"><strong>Mildly Important</strong></td>
        <td valign="middle" class="align-middle">No recurring revenue streams</td>
        <td valign="middle" class="align-middle">12</td>
        <td valign="middle" class="align-middle">Neutral</td>
        <td valign="middle" class="align-middle">6</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-8</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>A/R aging status</td>
        <td valign="middle" class="align-middle"><strong>Mildly Important</strong></td>
        <td valign="middle" class="align-middle">Invoices aged over 60 days is 40% (over 90 is 26% of A/R).</td>
        <td valign="middle" class="align-middle">12</td>
        <td valign="middle" class="align-middle">Poor</td>
        <td valign="middle" class="align-middle">4</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-8</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Balance sheet - Leverage</td>
        <td valign="middle" class="align-middle"><strong>Some Relevance</strong></td>
        <td valign="middle" class="align-middle">Improved over 2015 from 2.25 to 0.51. That does include note receivable from shareholder, adjusted back for that note leverage ratio would be higher.</td>
        <td valign="middle" class="align-middle">5</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">3</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-1</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Balance sheet - Working capital</td>
        <td valign="middle" class="align-middle"><strong>Neutral</strong></td>
        <td valign="middle" class="align-middle">Improved over 2015. Strong current ratio.</td>
        <td valign="middle" class="align-middle">8</td>
        <td valign="middle" class="align-middle">Very Positive</td>
        <td valign="middle" class="align-middle">7</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-1</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Capital expenditure history</td>
        <td valign="middle" class="align-middle">Minor Relevance</td>
        <td valign="middle" class="align-middle">Made significant asset purchases in 2016. Not sure of impact on revenue generation.</td>
        <td valign="middle" class="align-middle">3</td>
        <td valign="middle" class="align-middle">Positive</td>
        <td valign="middle" class="align-middle">2</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">-1</span></td>
    </tr>
    <tr>
        <td valign="middle" class="align-middle" nowrap>Currently required or deferred capital expenditures</td>
        <td valign="middle" class="align-middle"><strong>Minor Relevance</strong></td>
        <td valign="middle" class="align-middle"></td>
        <td valign="middle" class="align-middle">3</td>
        <td valign="middle" class="align-middle">IDEAL/Excellent</td>
        <td valign="middle" class="align-middle">3</td>
        <td valign="middle" class="align-middle"><span class="btn btn-fill btn-success">0</span></td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
  </div>
</div>
<%= x_card_bottom %>