<%= x_card_top(title: "Companies") %>
<div class="row">
	<div class="col-md-12">
		<%= company_tabs("My Companies") %> 
		<p>&nbsp;</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= x_card_top(title: "You have #{@companies.count} #{"company".pluralize(@companies.count)} ") %>
		<!-- Start Table -->
		<div class="table-wrapper">
		 <div class="toolbar">
			<!--  Here you can write extra buttons/actions for the toolbar  -->
		 </div>
			<table class="datatable table table-hover">
				<thead>
					<tr>
						<th>Company Name</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Zip</th>
						<th>Contact Name</th>
						<th>UBI</th>
						<th>Score</th>
						<th data-field="actions" class="td-actions text-right">Actions</th>
					</tr>
				</thead>
		
				<tbody>
					<% @companies.each do |company| %>
					<tr>
						
						<td><a class="companyDetailLink" href="/companies/<%= company.x_id %>"><%= company.name %></a></td>
						<td><%= company.address_1 %></td>
						<td><%= company.city %></td>
						<td><%= company.state %></td>
						<td><%= company.zip %></td>
						<td><%= company.contact_first_name %> <%= company.contact_last_name %></td>
						<td><%= company.ubi %></td>
						<td><%= company.scores.last.tevo.nil? ? 0 : company.scores.last.tevo rescue nil%></td>
						<td>
							<a href="/companies/<%= company.x_id %>" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<!-- End Table -->
		<%= x_card_bottom %>
	</div>
</div>
<%= x_card_bottom %>