<div class="row">
  <div class="col-md-8">
    <%= x_card_top(title: "#{@company.name}") %>
  <%= company_detail_tabs("Profile") %>
  <p>&nbsp;</p>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Company Name</td>
            <td><%=@company.name%></td>
          </tr>
          <tr>
            <td>NAICS</td>
            <td><%=@company.naics%></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><%=@company.address_1%></td>
          </tr>
          <tr>
            <td>Address2</td>
            <td><%=@company.address_2%></td>
          </tr>
          <tr>
            <td>City</td>
            <td><%=@company.city%></td>
          </tr>
          <tr>
            <td>State</td>
            <td><%=@company.state%></td>
          </tr>
          <tr>
            <td>Zip</td>
            <td><%=@company.zip%></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%=@company.phone%></td>
          </tr>
          <tr>
            <td>Website</td>
            <td><%=@company.website%></td>
          </tr>
        </tbody>
      </table>
   
<%= x_card_bottom %>
  </div>
  <div class="col-md-4">
   <%= erb :"../modules/companies/views/widgets/summary_widget" %>
  </div>
</div>