<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
	<%= company_detail_tabs("Reports") %>
	<hr>
	<!-- Start Table -->
	<div class="table-wrapper">
	 <div class="toolbar">
	      <!--  Here you can write extra buttons/actions for the toolbar  -->

	 </div>
		<table class="datatable table table-hover">
			<thead>
				<tr>
					<th>Report Date</th>
					<th>Tevo Score</th>
					<th>Level</th>
					<th data-field="actions" class="td-actions text-right">Actions</th>
				</tr>
			</thead>
	
			<tbody>
				<% @reports.all(deleted: false).each do |report| %>
				<tr>
					
					<td><a href="/reports/<%= report.id %>"><%= x_format_date(date: report.created_at, show_month: true, show_time: false)%>
							</a></td>
					<td></td>
					<td><%= report.level %></td>
					<td>
						<a href="/companies/<%= report.company.x_id rescue nil %>/generate-report/<%= report.score.x_id rescue nil%>" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs" target="_blank"> <i class="fa fa-file-pdf-o"></i></a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- End Table -->
<%= x_card_bottom %>

	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>