<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Intent") %>
<p>&nbsp;</p>
<%= x_card_top(title: "Intended Use") %>
		<table class="table table-striped">
	<thead>
		<th></th>
		<th>Intended Use</th>
		<th>Timeframe</th>
		<th>Expected Value</th>
	</thead>
	<tbody>
		<tr>
			<td>Succession</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Sale</td>
			<td><i class="fa fa-check text-success"></i></td>
			<td>6 Months</td>
			<td>$23M</td>
		</tr>
		<tr>
			<td>Acquisition</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Value Build</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Compensation Planning</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<%= x_card_bottom %>

<%= x_card_top(title: "FTE") %>
	<table class="table table-striped">
		<tr>
			<td width="50%">FTE #</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Management</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Partners/Owners</td>
			<td>3</td>
		</tr>
	</table>
	<%= x_card_bottom %>
	<%= x_card_top(title: "Industry Dynamics") %>
	<table class="table table-striped">
		<tr>
			<td width="50%">High-Growth</td>
			<td></td>
		</tr>
		<tr>
			<td>Consolidation</td>
			<td><i class="fa fa-check text-success"></i></td>
		</tr>
		<tr>
			<td>Contraction</td>
			<td></td>
		</tr>
	</table>
	<%= x_card_bottom %>
	
	<%= x_card_top(title: "Organization") %>
	<table class="table table-striped">
		<tr>
			<td width="50%">LLC</td>
			<td></td>
		</tr>
		<tr>
			<td>S-Corp</td>
			<td></td>
		</tr>
		<tr>
			<td>C-Corp</td>
			<td><i class="fa fa-check text-success"></i></td>
		</tr>
	</table>
	<%= x_card_bottom %>
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>		
	</div>
</div>