<% content_for :modal_title do %>User Form<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="user_form" method="post" action="<%= @action %>" role="form" data-parsley-validate>
<div class="row">
	<div class="col-md-6">
		<%= x_input(name: "first_name", id: "first_name", value: @affiliate_user.first_name, label: "First Name", required: true) %>
		<%= x_email(name: "email", id: "email", value: @affiliate_user.email, label: "Email", required: true) %>
		<%= x_phone(name: "work_phone", id: "work_phone", value: @affiliate_user.work_phone, label: "Work Phone", required: false) %>
	</div>
	<div class="col-md-6 user_form">
		<%= x_input(name: "last_name", id: "last_name", value: @affiliate_user.last_name, label: "Last Name", required: true) %>
		<%= x_phone(name: "mobile", id: "mobile", value: @affiliate_user.mobile, label: "Mobile", required: false) %>
		<%= x_select(name: "role", id: "role", option_data: get_user_roles, label: "Role", selected_value: @affiliate_user.role) %>
	</div>
</div>
</form>		
