<% 

@tevo = @company.scores.last rescue nil
@tevo_score = @tevo.tevo rescue nil
@tevo_score ||= 299 
@score_date = @tevo.score_date rescue nil 
@score_date ||= nil
 %>
		
<%= x_card_top(title: "#{@company.name} Summary") %>
 <div class="" id="tevo2"></div>
 <div class="text-center"><h4>Current TEVO Score: 
  <% if @tevo_score == 299 %>
    NA
  <% else %>
    <%= @tevo_score %>
  <% end %></h4></div>
 <% unless @score_date.nil? %><p class="text-center"><small class="text-muted"><em>Score Date: <%= x_format_date(date: @score_date, show_month: true, show_time: false)%></em></small></p><% end %>
 <hr>
 <h5><%= @company.name %></h5>
 <p><%= @company.address_1 %> <%= @company.city %>, <%= @company.state %> <%= @company.zip.to_s[0..4] %></p>
 <p>NAICS: <%= @company.naics %></p>
 <% unless @company.phone.nil? %><p>Phone: <%= @company.phone %></p><% end %>
 <% unless @company.phone.nil? %>	
 <p>Web: 	
 	<% if @company.website.nil? %>
 		No Site Listed 
 	<% else %>
 		<a href="<%= @company.website %>" target="_blank">Visit Site</a>
 	<% end %>	
 </p>
 <% end %>
 		
 <hr>
 <p><%= @company.contact_first_name %> <%= @company.contact_last_name %><% unless @company.contact_title.nil? %>, <%= @company.contact_title %> <% end %>
 </p>
 <% unless @company.contact_phone.nil? %>
 <p><%= @company.contact_phone %></p>
 <% end %>
 <% unless @company.contact_email.nil? %>
 <p><a href="mailto:<%= @company.contact_email %>"><%= @company.contact_email %></a></p>
 <% end %>
 <hr>
 <a id="companyOrderL2" href="/companies/<%= @company.x_id %>/score/l2" class="btn btn-block btn-info btn-fill">Order Level 2 Report <%= get_level2_credits_badge %></a>
<%= x_card_bottom %>




<% content_for :js_scripts do %>
<script src="/plugins/globalize.min.js"></script>
<script src="/plugins/dx.webappjs.js"></script>
<script src="/plugins/dx.chartjs.js"></script>
<script>
$('#tevo2').dxCircularGauge({
  scale: {
    startValue: 500, endValue: 850,
    majorTick: {
      color: '#536878',
      tickInterval: 50
    },
    label: {
      indentFromTick: 3
    }
  },
  rangeContainer: {
    offset: 55,
    width: 45,
    ranges: [
    { startValue: 500, endValue: 569, color: '#A71F21' },
    { startValue: 570, endValue: 619, color: '#EDBF12' },
    { startValue: 620, endValue: 699, color: '#F8F020' },
    { startValue: 700, endValue: 759, color: '#C3FD2A' },
    { startValue: 760, endValue: 850, color: '#61A22B' }
    ]
  },
  valueIndicator: {
    offset: 40
  },
  subvalueIndicator: {
    offset: -25
  },
  title: {
   // text: 'TEVO Score 745',
   font: { size: 28 }
 },
 value: <%= @tevo_score ||= 300 %>,
  //subvalues: [40, 90]
  geometry: { startAngle: 180, endAngle: 0 },
});

</script>
<% end %>