<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Add Company User") %>
		<%= company_detail_tabs("Contacts") %>
	<p>&nbsp;</p>
		<form id="company" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			 <div class="row">
			 	<div class="col-md-6">
			 		<%= x_input(name: "first_name", id: "first_name", value: @company_user.first_name, label: "First Name", required: true) %>
			 	</div>
			 	<div class="col-md-6">
			 		<%= x_input(name: "last_name", id: "last_name", value: @company_user.last_name, label: "Last Name", required: true) %>
			 	</div>
			 </div>
			<div class="row">
				<div class="col-md-6">
					<%= x_input(name: "email", id: "email", value: @company_user.email, label: "Email", required: true) %>
				</div>
				<div class="col-md-6">
    			<%= x_password(name: "password", id: "password", label: "Password", required: true) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= x_phone(name: "phone", id: "phone", value: @company_user.phone, label: "Telephone", required: false) %>
				</div>
				<div class="col-md-6">
					<%= x_input(name: "title", id: "title", value: @company_user.title, label: "Title", required: false) %>
				</div>
			</div>
			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>		
	</div>
</div>