<!-- Start  -->
<div class="row">

   <!-- Start left col -->
  <div class="col-md-8">
   <%= x_card_top(title: "#{@company.name}") %>
    <%= company_detail_tabs("Contacts") %>
    <%= x_card_top(title: "") %>
    <div class="row">
      <div class="col-md-6">
        <h5>User Information</h5>
        <table class="table">
          <tr>
            <td><strong>Title:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.title %></p></td>
          </tr>
          <tr>
            <td><strong>First Name:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.first_name %></p></td>
          </tr>
          <tr>
            <td><strong>Last Name:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.last_name %></p></td>
          </tr>

        </table>
      </div>
      <div class="col-md-6">
        <h5>User Contact Information</h5>
        <table class="table">
          <tr>
            <td><strong>Email:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.email %></p></td>
          </tr>
          <tr>
            <td><strong>PHONE:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.phone %></p></td>
          </tr>
          <tr>
            <td><strong>Active:</strong></td>
            <td><p class="text-muted mb-0"><%= @company_user.active %></p></td>
          </tr>
        </table>
      </div>
    </div>
    <%= x_card_bottom %>
    <%= x_card_bottom %>

  </div><!-- End left col -->
  <div class="col-md-4">
    <%= erb :"../modules/companies/views/widgets/summary_widget" %>   
  </div>
</div>
<!-- End  -->