<!-- Bootstrap core CSS     -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

<!--  Light Bootstrap Dashboard core CSS    -->
<link href="/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>    
  
<!-- GSDP -->
<link href="/css/gsdk-cards.css" rel="stylesheet">

<!--  Fonts and icons     -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,900' rel='stylesheet' type='text/css'>

<!-- X Plugins -->
<!-- Dropify -->
<link href="/plugins/dropify/css/dropify.min.css" rel="stylesheet" >

<!-- Summernote -->
<link href="/plugins/summernote/summernote.css" rel="stylesheet">
<link href="/plugins/summernote/summernote-bs3.css" rel="stylesheet">

<!-- Bootstrap Nav Wizard -->
<link rel="stylesheet" href="/plugins/bootstrap-nav-wizard/css/bootstrap-nav-wizard.min.css">

<!-- Pricing Grid -->
<link rel="stylesheet" href="/css/pricing_grid.css">

<!-- Chartist -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<!-- Videojs -->
<link href="https://vjs.zencdn.net/6.4.0/video-js.min.css" rel="stylesheet">

<!-- Instant Search -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.1.4/dist/instantsearch.min.css">

<!-- X -->
<link rel="stylesheet" href="/css/x.css">
<link rel="stylesheet" href="/css/site.css">