<!--   Core JS Files   -->
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script> 
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/assets/js/moment.min.js"></script>

<!--  Date Time Picker Plugin is included in this js file -->
<script src="/assets/js/bootstrap-datetimepicker.js"></script>

<!--  Select Picker Plugin -->
<script src="/assets/js/bootstrap-selectpicker.js"></script>

<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="/assets/js/bootstrap-checkbox-radio-switch-tags.js"></script>

<!-- plugins for the current page -->
<script src="/assets/vendor/flot/jquery.flot.min.js"></script>
<script src="/assets/vendor/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/vendor/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/vendor/flot/jquery.flot.categories.min.js"></script>
<script src="/assets/vendor/flot/jquery.flot.time.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>

<!-- Sweet Alert plugin -->
<script src="/assets/js/sweetalert.min.js"></script>

<!-- Wizard Plugin    -->
<script src="/assets/js/jquery.bootstrap.wizard.min.js"></script>

<!--  Datatable Plugin    -->
<script src="/assets/js/bootstrap-table.js"></script>

<!--  Full Calendar Plugin    -->
<script src="/assets/js/fullcalendar.min.js"></script>

<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="/assets/js/light-bootstrap-dashboard.js"></script>

<!--   Sharrre Library    -->
<script src="/assets/js/jquery.sharrre.js"></script>

<!--   Input Masked    -->
<script src="/assets/js/jquery.inputmask.bundle.min.js"></script>

<!-- Video JS -->
<script src="https://vjs.zencdn.net/6.4.0/video.min.js"></script>

<!-- Instant Search -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.1.4/dist/instantsearch.min.js"></script>

<!-- X Calls -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/js/jquery.knob.min.js"></script>
<script src="/plugins/summernote/summernote.min.js"></script>
<script src="/js/jquery.masked-input.min.js"></script>
<script src="/js/autogrow.min.js"></script>
<script src="/js/parsley.remote.min.js"></script>
<script src="/js/caret.js"></script>
<script src="/js/x_datatable.js"></script>
<script src="/js/x_ajax_modal.js"></script>
<script src="/js/x_delete.js"></script>
<script src="/js/x_csrf.js"></script>

<!-- Site -->
<script src="/js/site.js"></script>


<% # If Environment is Production show analytics %>
<% if ENV['RACK_ENV'] == "production" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90551886-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
adroll_adv_id = "R4LJMBVVRVBIDMZIANMWBC";
adroll_pix_id = "36EIKJZTVRCTVK2654BD5N";
/* OPTIONAL: provide email to improve user identification */
/* adroll_email = "username@example.com"; */
(function () {
var _onload = function(){
if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
var scr = document.createElement("script");
var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
scr.setAttribute('async', 'true');
scr.type = "text/javascript";
scr.src = host + "/j/roundtrip.js";
((document.getElementsByTagName('head') || [null])[0] ||
document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
};
if (window.addEventListener) {window.addEventListener('load', _onload, false);}
else {window.attachEvent('onload', _onload)}
}());
</script>
<% end %>
<%= x_notify(flash: flash)%>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109135154-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109135154-1');
</script>

<!-- Helpscout beacon -->
<script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!1,baseUrl:""},contact:{enabled:!0,formId:"970dea6e-db1a-11e7-b466-0ec85169275a"}‌};var r=e.getElementsByTagName("script")[0]‌,c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>

<script>
  function listView() {
    $('#hits-table').show();
    $('#hits-container').hide();
  }

  // Grid View
  function gridView() {
    $('#hits-container').show();
    $('#hits-table').hide(); 
  }

  var search;
  function companyAlgoliaSearch(url, btn_text, btn_icon) {
    Number.prototype.formatMoney = function(c, d, t){
      var n = this, 
      c = isNaN(c = Math.abs(c)) ? 2 : c, 
      d = d == undefined ? "." : d, 
      t = t == undefined ? "," : t, 
      s = n < 0 ? "-" : "", 
      i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
      j = (j = i.length) > 3 ? j % 3 : 0;
      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    search = instantsearch({

      appId: '<%= Sinatra::Application.settings.algolia_application_id %>',
      apiKey: '<%= Sinatra::Application.settings.algolia_api_key %>',
      indexName: '<%= Sinatra::Application.settings.company_index %>'
    });

    search.templatesConfig.helpers.currency = function(/*text, render*/) {
      return this.replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    };

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Search...',
        cssClasses: {
          input: 'form-control',
          root: 'form-group'
        },
      })
    );

    search.once('render', function(){ 
      if("<%= session[:first_company_searched] %>") {
        swal({
          icon: "success",
          text: "First Company Search is performed!"
        });
        "<%- session[:first_company_searched] = nil %>"
      }
    });

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits-container',
        templates: {
          item: '<div class="col-md-4"><div class="card"><div class="header "><h4 class="title pull-left truncate">{{name}}</h4><div class="pull-right title_right"> </div><div class="clearfix"></div><p class="category">UBI: {{ubi}} | NAICS: {{naics}} {{naics_name}} <br> {{city}}, {{state}}</p><hr><p class="category"><span class="card_tevo_label">TEVO SCORE</span> <span class="card_tevo">{{tevo}}</span></p></div><div class="content"><a href="' + url + '/{{x_id}}/" class="btn btn-info btn-sm btn-fill button-bottom"><i class="fa ' + btn_icon + '"></i> ' + btn_text + '</a></div></div></div>'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits-table',
        templates: {
          empty: document.getElementById('empty-template').innerHTML,
          allItems: document.getElementById('table-template').innerHTML
        }
      })
    );

    // Pagination
    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination-container',
        cssClasses: {
          root: 'pagination',
          active: 'active'
        }
      })
    );

    // Refinements
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#naics_list',
        attributeName: 'naics_sector',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    // Refinements
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#naics',
        attributeName: 'naics_name',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    // Refinements
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#state',
        attributeName: 'state',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    // Refinements
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#city',
        attributeName: 'city',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    //revenue
    search.addWidget(
      instantsearch.widgets.numericRefinementList({
        container: '#revenue_slider',
        attributeName: 'revenue',
        autoHideContainer: false,
        options: [
          {end: 500000, name: 'Less Than $500,000'},
          {start: 500000, end: 1000000, name: '$500,000 - $1 Million'},
          {start: 1000000, end: 2500000, name: '$1 - $2.5 Million'},
          {start: 2500000, end: 5000000, name: '$2.5 - $5 Million'},
          {start: 5000000, end: 10000000, name: '$5 - $10 Million'},
          {start: 10000000, end:20000000, name: '$10 - $20 Million'},
          {start: 20000000, end:50000000, name: '$20 - $50 Million'},
          {start: 50000000, end:100000000, name: '$50 - $100 Million'},
          {start: 100000000,end:500000000, name: '$100 - $500 Million'},
          {name: 'All'}
        ],
        templates: {
          header: 'Company Size'
        }
      })
    );

    // Reset 
    search.addWidget(
      instantsearch.widgets.clearAll({
        container: '.clear-all',
        templates: {
          link: 'Reset everything'
        },
        autoHideContainer: false,
        clearsQuery: true
      })
    );

    // Tevo numericRefinementList
    search.addWidget(
      instantsearch.widgets.numericRefinementList({
        container: '#tevo_slider',
        attributeName: 'tevo',
        autoHideContainer: false,
        options: [
          {name: 'ALL'},
          {start: 500, end: 549, name: 'POOR'},
          {start: 550, end: 600, name: 'AVERAGE'},
          {start: 601, end: 699, name: 'BASELINE'},
          {start: 700, end: 759, name: 'GOOD'},
          {start: 760, end: 850, name: 'GREAT'}
        ]
      })
    );

   search.addWidget(
      instantsearch.widgets.stats({
        container: '#stats-container'
      })
    );

    
    // Start Search
    search.start();
  }

  function affiliateAlgoliaSearch() {
    var search = instantsearch({
      appId: '<%= Sinatra::Application.settings.algolia_application_id %>',
      apiKey: '<%= Sinatra::Application.settings.algolia_api_key %>',
      indexName: '<%= Sinatra::Application.settings.affiliate_index %>'
    });

    search.templatesConfig.helpers.currency = function(/*text, render*/) {
      return this.replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    };

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Search...',
        cssClasses: {
          input: 'form-control',
          root: 'form-group'
        },
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits-container',
        templates: {
          item: '<div class="col-md-4"><div class="card" style="min-height: 225px !important;"><div class="header"><h4 class="title pull-left truncate">{{name}}</h4><div class="clearfix"></div><p class="category"> {{city}}, {{state}}</p></div><hr><div class="content"><b>Affiliate Type:</b> {{affiliate_type}} <br /> <b> Logo:</b> <img src="{{secure_logo_url}}" style="padding: 10px; width: 80%;"> </div>   </div></div>'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits-table',
        templates: {
          empty: document.getElementById('empty-template').innerHTML,
          allItems: document.getElementById('affiliate-table-template').innerHTML
        }
      })
    );
    
    // Pagination
    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination-container',
        cssClasses: {
          root: 'pagination',
          active: 'active'
        }
      })
    );

    // Stats
    search.addWidget(
      instantsearch.widgets.stats({
        container: '#stats-container'
      })
    );

     // Refinements
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#state',
        attributeName: 'state',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#affiliate_type',
        attributeName: 'affiliate_type',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#city',
        attributeName: 'city',
        operator: 'or',
        limit: 10,
        cssClasses: {
          list: 'nav nav-list',
          count: 'badge pull-right',
          active: 'active'
        }
      })
    );

    // Reset 
    search.addWidget(
      instantsearch.widgets.clearAll({
        container: '.clear-all',
        templates: {
          link: 'Reset everything'
        },
        autoHideContainer: false,
        clearsQuery: true,
      })
    );

    // Start Search
    search.start();
  }

  $('#request_list').click(function(e) {
    var query = search.helper.getQuery()
        
    $('#loader').show();
    $.ajax({
      url: "/companies/all/request_list/",
      type: "POST",
      dataType: "json",
      data: { query},
      complete: function() {
        $('#loader').hide();
        location.reload();
      },
    });
  });
</script>

<script type="text/html" id="table-template">
  <table class="table table-striped">
    <thead>
      <tr><th></th><th>NAME</th><th>UBI</th><th>NAICS</th><th>TEVO</th><th>CITY</th><th>STATE</th></tr>
    </thead>
    <tbody>
    {{#hits}}
      <tr><td><a href="/companies/send_request/{{x_id}}/">Send Request</a></td><td>{{name}}</td><td>{{ubi}}</td><td>{{naics}}</td><td>{{tevo}}</td><td>{{city}}</td><td>{{state}}</td></tr>
    {{/hits}}
    </tbody>
  </table>
</script>

<script type="text/html" id="affiliate-table-template">
  <table class="table table-striped">
    <thead>
      <tr><th>NAME</th><th>LOGO</th><th>AFFILITY CATEGORY</th><th>CITY</th><th>STATE</th></tr>
    </thead>
    <tbody>
    {{#hits}}
      <tr><td>{{name}}</td><td><img src="{{secure_logo_url}}" style="width: 25%;"></td><td>{{affiliate_type}}</td><td>{{city}}</td><td>{{state}}</td></tr>
    {{/hits}}
    </tbody>
  </table>
</script>

<script type="text/html" id="empty-template">
  No results
</script>