<%= x_card_top %>
<%= acadmey_tabs("Resources") %>
<div class="row" style="padding-top: 30px;">
	<%@docs.each do |doc|%>
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" align="center" >
	<%= x_card_top(title: "#{doc.name.titleize}", buttons: "<a href=" + "#{get_loan_pdf_link_https(s3_path: doc.s3_path)}"+' target="_blank"'+' class="btn btn-fill"><i class="fa fa-download"></i> Download</a> ') %>
            <table class="table">
                <tr>
                    <td><strong>Description :</strong></td>
                    <td>
                        <p class="text-muted mb-0"><%= doc.desc%></p>
                    </td>
                </tr>
            </table>
<%= x_card_bottom %>
</div>
<%end%>
<%= x_card_bottom %>
<%= x_card_bottom %>
