<% content_for :modal_title do %>Academy<% end %>
<% content_for :button_text do %>Mark Complete<% end %>
<form id="academy" method="post" action="<%= @action %>" role="form" data-parsley-validate>
<div class="row">
	<div class="col-md-12">
		<script src="https://fast.wistia.com/embed/medias/<%=@academy.url.split('/').last%>.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_<%=@academy.url.split('/').last%> videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
	</div>
</div>
</form>