<%= x_card_top %>
	<%= acadmey_tabs("Webinars") %> 
	<p>&nbsp;</p>
	<div class="row">
		<div class="col-md-12">
		<%= x_card_top(title: "Webinar Archive") %>
			<p>Periodically, InfoVera™ provides live, in-person webinar web conferences. You can see a list of upcoming Webinars on the <a href="/up_coming_events/">Upcoming Events</a> page. If there are topics you would like to see covered please <a href="/contact/">forward those suggestions</a> at any time. Your feeback will help us better serve your needs.
</p>
		<%= x_card_bottom %>
				
		</div>
	</div>



	<%= x_card_top(title: "Event Webinars") %>
	<div class="row">
		<%@academies_events.each do |academy|%>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center" >
			<%= x_card_top(title: academy.name) %>
				<video id="<%=academy.x_id%>" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" width="820" height="100%" poster= "<%=academy.video_image_secure_url%>" data-setup='{"fluid": true}'>
		    <source src="<%= academy.url %>" type='video/mp4'>
		    <p class="vjs-no-js">
		      To view this video please enable JavaScript, and consider upgrading to a web browser that
		      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		  </video>
			<%= x_card_bottom %>
			</div>
			<%content_for :js_scripts do%>
				<script type="text/javascript">
				    $(document).ready(function(){
						var video = videojs("<%=academy.x_id%>").ready(function(){
				        var player = this;
				        player.on('play', function() {
				        	var video_id_1 = "<%=academy.x_id%>";
				        	var status_1 = "started"
				        	update_video_status(video_id_1,status_1);
				        });
				        player.on('ended', function() {
				        	var video_id_2 = "<%=academy.x_id%>";
				        	var status_2 = "completed"
				        	update_video_status(video_id_2,status_2);
				        });
				        });
				    });
				</script>
			<%end%>
		<%end%>
	</div>
	<%= x_card_bottom %>
	<%= x_card_top(title: "Training/Support Webinars") %>
	<div class="row">
		<%@academies_training.each do |academy|%>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center" >
			<%= x_card_top(title: academy.name) %>
				<video id="academy_<%=academy.id%>" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls preload="auto" width="820" height="100%" poster= "<%=academy.video_image_secure_url%>" data-setup='{"fluid": true}'>
		    <source src="<%= academy.url %>" type='video/mp4'>
		    <p class="vjs-no-js">
		      To view this video please enable JavaScript, and consider upgrading to a web browser that
		      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		  </video>
			<%= x_card_bottom %>
			</div>
			<%content_for :js_scripts do%>
				<script type="text/javascript">
				    $(document).ready(function(){
						var video = videojs("academy_<%=academy.id%>").ready(function(){
				        var player = this;
				        player.on('play', function() {
					        var video_id_1 = "<%=academy.id%>";
					        var status_1 = "started"
					        update_video_status(video_id_1,status_1);
				        });
				        player.on('ended', function() {
					        if (test) {
					        	test = false;
					        	swal({
					        		icon: "success",
					        		text: "You have watched your first video."
					        	}); 
					        }
					        var video_id_2 = "<%=academy.id%>";
					        var status_2 = "completed"
					        update_video_status(video_id_2,status_2);
				        });
				        });
				    });
				</script>
			<%end%>
		<%end%>
	</div>
	<%= x_card_bottom %>	
<%= x_card_bottom %>

<%content_for :js_scripts do%>
<script type="text/javascript">
var test = "<%= session[:first_video_completed] %>"
function update_video_status(x_id,status_com){ 
	$.ajax({
       url: "/acadmey/update_video_status/",
       type: "POST",
       dataType: "json",
       data: { id: x_id ,status: status_com},
       complete: function() {},
     });
 }
</script>
<%end%>