<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>

<!-- Start Table -->
<div class="table-wrapper">
 <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <p><%= get_score_count_badge(company_id: @company.id) %></p>
      
 </div>
	<table class="datatable table table-hover">
		<thead>
			<tr>
				<th>Level</th>
				<th>Tevo</th>
				<th>Score Date</th>
				<th>Change</th>
				<th data-field="actions" class="td-actions text-right">Reports</th>
			</tr>
		</thead>
		<tbody>
			<% @company.scores(deleted: false,:order => [ :score_date.desc ]).each_with_index do |item , index| %>
			<% next_item = @company.scores(deleted: false,:order => [ :score_date.desc ]).to_a[index+1] %>
    		<%if next_item.nil?
    			increase_score = 0
    			html_tag = "text-muted"
    		else
    			increase_score = item.tevo.to_i - next_item.tevo.to_i
    			if increase_score < 0
    			in_class = "text-danger"
    			in_arrow = "<i class='fa fa-arrow-down' aria-hidden='true'></i>"
    			else
    			in_class = "text-success"
				in_arrow = "<i class='fa fa-arrow-up' aria-hidden='true'></i>"
    			end
    		end%>
			<tr> 
				<td>Level <%= item.level %></td>
				<td><%= item.tevo %></td>
				<td><%= x_format_date(date: item.score_date, show_month: true, show_time: false) rescue nil%></td>
				<td class=<%=in_class%> > <%= in_arrow%> <%= increase_score%></td>
				<td>
				<% if item.level == "2" %>
				 <%if item.reports.last.present?%>
				 <a href="<%=get_loan_pdf_link_https(s3_path: item.reports.last.s3_path)%>" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs" target="_blank"> <i class="fa fa-file-pdf-o"></i></a>
				 <%else%>
				 	<em class="text-muted">NA</em>
				 <%end%>
					<% else %>
							<em class="text-muted">NA</em>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- End Table -->
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @score_counts %>") {
        swal({
        	icon: "success",
        	text: "You have created first score."
        });
      }
    });
  </script>
<% end %>