<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>

<%= company_score_tabs("Scores") %>

		<form id="base" method="post" action="<%= @action %>" role="form" data-parsley-validate>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<%= x_money(name: "assets", id: "assets", value: "", label: "Assets", required: true) %>
					</div>
					<div class="col-md-6">
						<%= x_money(name: "revenue", id: "revenue", value: "", label: "Revenue", required: true, ) %>
					</div>
				</div>
			<%= x_submit(label: "Calculate", css: "btn-fill btn-info", icon: "fa-check") %>
			</form>

<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>