<% content_for :modal_title do %>Score<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="score" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "tevo", id: "tevo", value: @score.tevo, label: "Tevo", required: true) %>
		</div>
		<div class="col-md-3">
			<%= x_money(name: "revenue", id: "revenue", value: @score.revenue, label: "Revenue", required: false) %>
		</div>
		<div class="col-md-3">
			<%= x_money(name: "assets", id: "assets", value: @score.assets, label: "Assets", required: false) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "employees", id: "employees", value: @score.employees, label: "Employees", required: false) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "asset_class", id: "asset_class", value: @score.asset_class, label: "Asset Class", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "sector_asset_class_combo", id: "sector_asset_class_combo", value: @score.sector_asset_class_combo, label: "Sector Asset Class Combo", required: false, ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "sac_intercept_estimate", id: "sac_intercept_estimate", value: @score.sac_intercept_estimate, label: "SAC Intercept Estimate", required: false, ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "sac_intercept", id: "sac_intercept", value: @score.sac_intercept, label: "SAC Intercept", required: false ) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "log_of_assets", id: "log_of_assets", value: @score.log_of_assets, label: "Logarithm of Assets", required: false, ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "asset_lookup_value", id: "asset_lookup_value", value: @score.asset_lookup_value, label: "Asset Lookup Value", required: false, ) %>
		</div>
	</div>
	<div class="row">
			<div class="col-md-3">
			<%= x_date(id: "score_date", name: "score_date", value: @score.score_date, label: "Score Date", placeholder: "Score Date") %>
		</div>
	</div>
	<%= x_hidden(id: "company_id", name: "company_id", value: @company.id)  %>
	<div class="form-group">
		<div class="checkbox <%= (@score.active == true) ? 'checked' : ''%>">
			<label class="">
				<span class="icons"><span class="first-icon fa fa-square-o"></span><span class="second-icon fa fa-check-square-o"></span></span>
				<input type="hidden" id="active" name="post[active]" value="0">
				<input type="checkbox" class="" id="active" name="post[active]" value="1" checked="checked" data-toggle="checkbox"/>
				<b>Active</b> 
			</label>
		</div>
	</div>
</form>