<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "#{@company.name}") %>
<%= company_detail_tabs("Score") %>
<p>&nbsp;</p>

<h5>Level 2 - Input form</h5>

	<form id="base" method="post" action="<%= @action %>" role="form" data-parsley-validate>	
		<hr>
		<div class="row">
			<div class="col-md-4">
				<%= x_money(name: "assets", id: "assets", value: "", label: "Assets", required: false ) %>
			</div>
			<div class="col-md-4">
				<%= x_money(name: "revenue", id: "revenue", value: "", label: "Revenue", required: true ) %>
			</div>
			<div class="col-md-4">
				<%= x_money(name: "ebitda", id: "ebitda", value: "", label: "EBITDA", required: false ) %>
			</div>
		</div>
	<div class="row">
		<div class="col-md-4">
			<%= x_money(name: "cash", id: "cash", value: "", label: "Cash", required: false, ) %>
		</div>
		<div class="col-md-4">
				<%= x_money(name: "ar", id: "ar", value: "", label: "AR", required: false, ) %>
		</div>
		<div class="col-md-4">
			<%= x_money(name: "inventory", id: "inventory", value: "", label: "Inventory", required: false, ) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<%= x_money(name: "total_liabilities", id: "total_liabilities", value: "", label: "Total Liabilities", required: false, ) %>
		</div>
		<div class="col-md-4">
			<%= x_input(name: "employees", id: "employees", value: "0", label: "Employees", required: false, ) %>
		</div>
		
	</div>	
	<%= x_submit(label: "Create Level 2 Report", css: "btn-fill btn-success", icon: "fa-check") %>
	</form>


<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>