<% content_for :modal_title do %>Score<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="score" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "tevo", id: "tevo", value: @score.tevo, label: "Tevo", required: false) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "tevo_min", id: "tevo_min", value: @score.tevo_min, label: "Tevo Min", required: false) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "tevo_median", id: "tevo_median", value: @score.tevo_median, label: "Tevo Median", required: false) %>
		</div>
			<div class="col-md-3">
			<%= x_input(name: "tevo_max", id: "tevo_max", value: @score.tevo_max, label: "Tevo Max", required: false) %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
			<%= x_input(name: "revenue", id: "revenue", value: @score.revenue, label: "Revenue", required: false ) %>
		</div>
		<div class="col-md-2">
			<%= x_input(name: "assets", id: "assets", value: @score.assets, label: "Assets", required: false ) %>
		</div>
		<div class="col-md-2">
			<%= x_input(name: "ebitda", id: "ebitda", value: @score.ebitda, label: "EBITDA", required: false ) %>
		</div>
		<div class="col-md-2">
			<%= x_input(name: "cash", id: "cash", value: @score.cash, label: "Cash", required: false ) %>
		</div>
		<div class="col-md-2">
			<%= x_input(name: "net_income", id: "net_income", value: @score.net_income, label: "Net Income", required: false ) %>
		</div>
		<div class="col-md-2">
			<%= x_input(name: "employees", id: "employees", value: @score.employees, label: "Employees", required: false) %>
		</div>
	</div>
<hr>
	<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "multiple_revenue_lower", id: "multiple_revenue_lower", value: @score.multiple_revenue_lower, label: "Multiple Revenue Lower", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_revenue_estimate", id: "multiple_revenue_estimate", value: @score.multiple_revenue_estimate, label: "Multiple Revenue Estimate", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_revenue_upper", id: "multiple_revenue_upper", value: @score.multiple_revenue_upper, label: "Multiple Revenue Upper", required: false ) %>
		</div>
	</div>
<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "multiple_ebitda_lower", id: "multiple_ebitda_lower", value: @score.multiple_ebitda_lower, label: "Multiple EBITDA Lower", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_ebitda_estimate", id: "multiple_ebitda_estimate", value: @score.multiple_ebitda_estimate, label: "Multiple EBITDA Estimate", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_ebitda_upper", id: "multiple_ebitda_upper", value: @score.multiple_ebitda_upper, label: "Multiple EBITDA Upper", required: false ) %>
		</div>
</div>
<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "multiple_net_income_lower", id: "multiple_net_income_lower", value: @score.multiple_net_income_lower, label: "Multiple Net Income Lower", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_net_income_estimate", id: "multiple_net_income_estimate", value: @score.multiple_net_income_estimate, label: "Multiple Net Income Estimate", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_net_income_upper", id: "multiple_net_income_upper", value: @score.multiple_net_income_upper, label: "Multiple Net Income Upper", required: false ) %>
		</div>
</div>
<div class="row">
		<div class="col-md-3">
			<%= x_input(name: "multiple_assets_lower", id: "multiple_assets_lower", value: @score.multiple_assets_lower, label: "Multiple Assets Lower", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_assets_estimate", id: "multiple_assets_estimate", value: @score.multiple_assets_estimate, label: "Multiple Assets Estimate", required: false ) %>
		</div>
		<div class="col-md-3">
			<%= x_input(name: "multiple_assets_upper", id: "multiple_assets_upper", value: @score.multiple_assets_upper, label: "Multiple Assets Upper", required: false ) %>
		</div>
</div>
<hr>
<div class="row">
	<div class="col-md-3">
		<%= x_input(name: "percentile_revenue", id: "percentile_revenue", value: @score.percentile_revenue, label: "Percentile Revenue", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_ebitda", id: "percentile_ebitda", value: @score.percentile_ebitda, label: "Percentile EBITDA", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_cash", id: "percentile_cash", value: @score.percentile_cash, label: "Percentile Cash", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_ar", id: "percentile_ar", value: @score.percentile_ar, label: "Percentile AR", required: false ) %>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<%= x_input(name: "percentile_inventory", id: "percentile_inventory", value: @score.percentile_inventory, label: "Percentile Inventory", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_assets", id: "percentile_assets", value: @score.percentile_assets, label: "Percentile Assets", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_total_liabilities", id: "percentile_total_liabilities", value: @score.percentile_total_liabilities, label: "Percentile Liabilities", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "percentile_rev_emp", id: "percentile_rev_emp", value: @score.percentile_rev_emp, label: "Percentile Rev/Emp", required: false ) %>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-3">
		<%= x_input(name: "waterfall_asset_revenue", id: "waterfall_asset_revenue", value: @score.waterfall_asset_revenue, label: "Waterfall Asset/Rev", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "waterfall_ebitda", id: "waterfall_ebitda", value: @score.waterfall_ebitda, label: "Waterfall EBITDA", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "waterfall_cash", id: "waterfall_cash", value: @score.waterfall_cash, label: "Waterfall Cash", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "waterfall_ar", id: "waterfall_ar", value: @score.waterfall_ar, label: "Waterfall AR", required: false ) %>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<%= x_input(name: "waterfall_inventory", id: "waterfall_inventory", value: @score.waterfall_inventory, label: "Waterfall Inventory", required: false ) %>
	</div>
		<div class="col-md-3">
		<%= x_input(name: "waterfall_total_liabilities", id: "waterfall_total_liabilities", value: @score.waterfall_total_liabilities, label: "Waterfall Liabilities", required: false ) %>
	</div>
	<div class="col-md-3">
		<%= x_input(name: "waterfall_rev_emp", id: "waterfall_rev_emp", value: @score.waterfall_rev_emp, label: "Waterfall Rev/Emp", required: false ) %>
	</div>
</div>
	<%= x_date(id: "score_date", name: "score_date", value: @score.score_date, label: "Score Date", placeholder: "Score Date") %>
		<%= x_hidden(id: "company_id", name: "company_id", value: @company.id)  %>
	<div class="form-group">
		<div class="checkbox <%= (@score.active == true) ? 'checked' : ''%>">
			<label class="">
				<span class="icons"><span class="first-icon fa fa-square-o"></span><span class="second-icon fa fa-check-square-o"></span></span>
				<input type="hidden" id="active" name="post[active]" value="0">
				<input type="checkbox" class="" id="active" name="post[active]" value="1" checked="checked" data-toggle="checkbox"/>
				<b>Active</b> 
			</label>
		</div>
	</div>
</form>