<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Infovera <%= @page_title ||= "" %></title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<meta name='csrf-token' content='<%= session[:csrf] %>'>

	<%= erb :"partials/css_include" %>
	<%= yield_content :css_scripts %>

</head>
<body> 

	<div id='loader' class="ajax-loader" style='display: none;'>
	  <img src='/img/reload.gif'>
	</div>

	<div class="row">
		<div class="col-md-3">
			  <div class="module left logo_padding">
	          <a href="/">
	            <% if session[:logo_secure_url].nil? %>
					<img name="logo-top" id="logo-top" class="logo logo-dark width-100" alt="Infovera" src="/img/infovera-logo.png" height="65px">
					<img name="logo-top-light" id="logo-top-light" class="logo logo-light width-100" alt="Infovera" src="/img/infovera-logo-white.png" height="65px">
	            <% else %>
					<img name="logo-top-light" id="logo-top-light" class="logo logo-light width-100" alt="Infovera" src="<%= session[:logo_secure_url] %>" height="65px">
					<img name="logo-top" id="logo-top" class="logo logo-dark width-100" alt="Infovera" src="<%= session[:logo_secure_url] %>" height="65px">
	            <% end %>
	          </a>
	      </div>
		</div>
			<div class="col-md-1">
	    <h4> <%= affiliate_user_type(session[:affiliate_id])%></h4>
	    </div>

		<div class="col-md-8">
			<div class="nav-container">
			    <nav>
			        <div class="nav-utility">
			        	<div class="module left">
			            	<i class="ti-cup"></i>
			            	<span class="sub"></span>
						</div>
						<div class="module right">
			                <a id="navLogout" name="navLogout" href="/logout/" class="btn btn-default btn-sm">
								Log out
							</a>
						</div>
						<div class="module right">
							<a id="navContact" name="navContact" href="/contact/" class="btn btn-default btn-sm">
								Contact Us
							</a>
						</div>
						<div class="module right">
							<i class="fa fa-life-ring"></i>
							<span class="sub"><a id="navFAQ" name="navFAQ" href="/faq/">FAQ's</a></span>
						</div>
						<div class="module right">
							<i class="fa fa-mobile"></i>
							<span class="sub">(844) 840-INFO</span>
						</div>
						<div class="module right">
							<i class="fa fa-envelope"></i>
							<span class="sub"><a id="navEmail" name="navEmail" href="mailto:info@infovera.com">info@infovera.com</a></span>
						</div>
						<div class="module right">
							<span class="sub"><a id="navAcademy" name="navAcademy" href="/academy/">Academy</a></span>
						</div>
						<div class="module right">
							<span class="sub">Level 2 Credits: <a name="navCredits" id="navCredits" href="/profile/plan/"><%= get_level2_credits_badge %></a></span>
						</div>
					</div>


			        <div class="nav-bar">
			            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
			                <i class="ti-menu"></i>
			            </div>
			            <div class="module-group right">
			                <div class="module left">
			                    <ul class="menu">
			                        <li>
			                            <a name="navDashboard" id="navDashboard" href="/">Dashboard</a>
			                        </li>
									<li>
										<a name="navGroups" id="navGroups" href="/groups/">
											Groups
										</a>  
									</li>
									<li>
										<a name="navCompanies" id="navCompanies" href="/companies/">
											Companies
										</a>  
									</li>
									<li>
										<a name="navAlerts" id="navAlerts" href="/alerts/">
											Alerts
										</a>  
									</li>
									<li>
										<a name="navProfile" id="navProfile" href="/profile/">
											Profile
										</a>  
									</li>
									<li>
										<a name="navNetwork" id="navNetwork" href="/network/">
											Network
										</a>  
									</li>
									<li>
										<a name="navEvents" id="navEvents" href="/up_coming_events/">
											Upcoming Events
										</a>  
									</li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </nav>
			</div>
		</div>
	</div>
		
	<div class="wrapper">
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">    
					<%= yield %>
				</div>
			</div>


				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<img alt="Logo" class="logo" src="/img/infovera-logo.png" style="height: 45px;">
							</div>
							<div class="col-md-3 col-sm-6">
								
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget">
									<h6 class="title">Quick Links</h6>
									<hr>
									<ul class="list-unstyled">
										<li><a name="qlDashboard" id="qlDashboard" href="/">Dashboard</a></li>
										<li><a name="qlGroups" id="qlGroups" href="/groups/">Groups</a></li>
										<li><a name="qlCompanies" id="qlCompanies" href="/companies/">Companies</a></li>
										<li><a name="qlAlerts" id="qlAlerts" href="/alerts/">Alerts</a></li>
										<li><a name="qlProfile" id="qlProfile" href="/profile/">Profile</a></li>
										<li><a name="qlNetwork" id="qlNetwork" href="/network/">Network</a></li>
									</ul>
								</div>
								
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget">
									<h6 class="title">Get In Touch</h6>
									<hr>
									<div>
										<ul class="list-unstyled">
										<li>
											<a name="btmInfoVera" id="btmInfoVera" href="http://infovera.com" target="_blank">Infovera.com</a> <br>  
										</li>
										<li><a name="btmEmail" id="btmEmail" href="mailto:info@infovera.com">info@infovera.com</a></li>
										<li>844-840-INFO</li>
									</ul>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<span class="sub text-muted">© Copyright <%= Date.today.year %> Sterling Creek Holdings LLC <br> InfoVera™, a Market Value Reporting Agency, is a Sterling Creek Holdings Company <br>TEVO® is a Registered Trademark in the U.S. of Sterling Creek Holdings. Patents Pending. All Rights Reserved. <a href="/credits">Credits</a></span>

							</div>
							
						</div>
					</div>
				</footer>

			</div>   
		</div>
	</div>
	<div id="alert-area"></div>
</body>
<%= erb :"partials/js_scripts" %>
<%= yield_content :js_scripts %> 
</html>