<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Infovera</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
    <meta name='csrf-token' content='<%= session[:csrf] %>'>

	<%= erb :"partials/css_include" %>
	<%= yield_content :css_scripts %>

</head>
<body> 

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="black" data-image="/assets/img/bridge.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                   <%= yield %>               
                </div>
            </div>
        </div>

    </div>                             

</div>


</body>
<%= erb :"partials/js_scripts" %>
<%= yield_content :js_scripts %> 
<script type="text/javascript">
$().ready(function(){
    lbd.checkFullPageBackgroundImage();
});
</script>
</html>