<% button = yield_content :button_text %>
<!-- Modal -->
<div class="modal-dialog modal-lg modal-center">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">
                <%= yield_content :modal_title %>
            </h4>
        </div>
        <div class="modal-body">
            <%= yield %>
        </div>
        <div class="modal-footer">
            <% if button == 'Close' %>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            <% else %>
                <button type="submit" id="modalSubmitBtn" class="btn btn-info submit-button-once btn-fill"><%= button %></button>
            <% end %>
        </div>
    </form>

</div>
</div>

<%= yield_content :js_scripts %>
<script>
// Checkbox, Radio, Switch and Tags Input Plugins
$('.checkbox').find(':checkbox').checkbox('init');

// Parsley Errors
$('form').parsley({
    successClass: 'success',
    errorClass: 'error',
    errors: {
        classHandler: function(el) {
            return $(el).closest('.control-group');
        },
        errorsWrapper: '<span class=\"help-inline\"></span>',
        errorElem: '<label error="error"></label>'
    }
});

$.listen('parsley:field:error', function(){
     $('#modalSubmitBtn').removeClass('disabled'); // Disables visually
     $('#modalSubmitBtn').text('Save');
      //openAllGroups(); // YOUR CODE HERE
  });

  $('.submit-button-once').click(function(e){
    $(this).addClass('disabled'); // Disables visually
  //  $(this).prop('disabled', true);
    $(this).html('<i class="fa fa-spinner fa-pulse"></i> Please Wait');
});

// $('.datepicker').datepicker({
//  autoclose: true,
//  format: "yyyy-mm-dd"
// });
$('.money').inputmask("numeric", {
        radixPoint: ".",
        groupSeparator: ",",
        digits: 2,
        autoGroup: true,
        allowMinus: false,
        autoUnmask: true,
        rightAlign: false,
        removeMaskOnSubmit: true,
        oncleared: function() { self.Value(''); }
    });
$('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Sorry, this file is too large'

        }
    });
$('.summernote').summernote();
$(".tagsinput").tagsInput();
$(".selectpicker").selectpicker();
$('.datetimepicker').datetimepicker({
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
});

$('.datepicker').datetimepicker({
    format: 'YYYY-MM-DD',
    viewMode: 'days',
    icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
    }
});

$(".modal").on('hidden.bs.modal', function () {
    $(this).remove();
});
</script>
