.card .stats.pull-right {
  margin-left: 5px;
  margin-left: 0;
  padding-right: 10px;
}
.card-product .image {
  height: auto;
}
.card-product .title {
  margin: 0;
}
.card-product .price {
  font-size: 18px;
  color: #9A9A9A;
  font-weight: 300;
}
.card-product .price-old {
  text-decoration: line-through;
  font-size: 16px;
  color: #9A9A9A;
}
.card-product .price-new {
  color: #FF3B30;
}
.card-product .footer {
  line-height: 40px;
  margin: 0;
}
.card-product .carousel-control {
  width: 40px;
  text-shadow: 0 0 0;
  color: #9A9A9A;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.card-product .carousel-control.left .fa {
  left: 5px;
}
.card-product .carousel-control.right .fa {
  left: auto;
  right: 5px;
}
.card-product .carousel-control:hover, .card-product .carousel-control:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.card-refine .header {
  padding: 10px 15px 0px 15px;
}
.card-refine .header h4 {
  line-height: 40px;
}
.card-refine .content {
  padding: 0;
}
.card-refine .panel {
  background-color: transparent;
  border-bottom: 0;
  border-top: 1px solid #DDDDDD;
}
.card-refine .panel-heading {
  padding: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
}
.card-refine .panel-default > .panel-heading {
  box-shadow: 0 0 0;
  background-color: transparent;
}
.card-refine .panel-group .panel-heading + .panel-collapse .panel-body {
  border: 0;
}
.card-refine .panel-title a {
  padding: 17px 15px;
  display: block;
}
.card-refine .slider {
  margin-top: 10px;
}
.card-refine .radio,
.card-refine .checkbox {
  margin-top: -5px;
}
.card-refine .price-left {
  float: left;
}
.card-refine .price-right {
  float: right;
}
.card-refine .panel-scroll {
  height: 273px;
  overflow-y: scroll;
}
.card-refine .panel-group .panel + .panel {
  margin: 0;
}
.card-refine .collapsed i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-price {
  position: relative;
}
.card-price .price {
  font-weight: 300;
  text-align: center;
  font-size: 66px;
}
.card-price .price small {
  margin-right: 4px;
  margin-left: -13px;
  color: #333333;
}
.card-price .category {
  text-align: center;
  margin-top: 10px;
}
.card-price .content {
  min-height: 330px;
}
.card-price .list-unstyled {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #9A9A9A;
}
.card-price .list-unstyled b {
  color: #333333;
}
.card-price .list-unstyled li {
  margin-bottom: 5px;
}
.card-price .list-lines {
  text-align: left;
}
.card-price .list-lines li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #E3E3E3;
}
.card-price .list-lines li:last-child {
  border: 0;
}
.card-price .fa {
  width: 26px;
  text-align: center;
  font-size: 16px;
}
.card-price.card-price-best-deal {
  margin-top: -25px;
}
.card-price.card-price-best-deal .content {
  min-height: 380px;
}

.card-background {
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.card-background .image {
  border-radius: 6px;
}
.card-background .filter {
  opacity: 0.55;
  filter: alpha(opacity=55.0);
  border-radius: 6px;
}
.card-background:hover .filter {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.card-background .title,
.card-background .stats,
.card-background .category,
.card-background .description,
.card-background small,
.card-background a {
  color: #FFFFFF;
}
.card-background small {
  font-weight: 400;
}
.card-background .title {
  margin-top: 30px;
  font-weight: 400;
}
.card-background .content,
.card-background .footer {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
.card-background .footer {
  bottom: 0;
  top: auto;
  padding: 10px 15px;
  width: 100%;
  line-height: 40px;
  color: #FFFFFF;
}
.card-background .avatar {
  border: 2px solid #FFFFFF;
  width: 32px;
  height: 32px;
}
.card-background .video {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  max-height: 300px;
}
.card-background video {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.card-background.state-play .filter, .card-background.state-play .content, .card-background.state-play .category, .card-background.state-play .btn, .card-background.state-play .stats {
  opacity: 0;
  filter: alpha(opacity=0);
}
.card-background.state-play:hover .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}
.card-background .map {
  border-radius: 6px;
  height: 300px;
}
.card-background h1.title {
  font-weight: 300;
}
.card-background .price {
  margin: 0;
  color: #FFFFFF;
}

.card-refine .btn-xs,
.card-product .btn-xs {
  margin: 8px 0;
}
.card-refine .btn-simple,
.card-product .btn-simple {
  padding-left: 0;
  padding-right: 0;
}

.card-user .footer,
.card-price .footer {
  padding: 5px 15px 10px;
}
.card-user hr,
.card-price hr {
  margin: 5px 15px;
}

.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
.card-plain .image {
  border-radius: 4px;
}

.filter.filter-white {
  background-color: rgba(255, 255, 255, 0.91);
}

.filter.filter-blue {
  background-color: rgba(9, 82, 239, 0.69);
}

.filter.filter-azure {
  background-color: rgba(0, 146, 248, 0.69);
}

.filter.filter-green {
  background-color: rgba(4, 124, 10, 0.69);
}

.filter.filter-orange {
  background-color: rgba(204, 119, 0, 0.69);
}

.filter.filter-red {
  background-color: rgba(252, 13, 0, 0.69);
}

@media (min-width: 768px) {
  .card-horizontal .image {
    border-radius: 6px 0 0 6px;
  }
  .card-horizontal .image img {
    height: 100%;
    width: auto;
  }
  .card-horizontal .description {
    min-height: 100px;
  }
  .card-horizontal .content {
    padding: 15px 15px 10px 0;
  }
}