
* {
    box-sizing: border-box;
}
.pricing_grid .title {
  display: block;
  font-size: 30px;
  margin:15px 0 10px;
  padding: 0;
  text-align: center;
}
.pricing_grid .sub-title {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #111;
  margin-bottom: 30px;
  font-size: 14px;
}
.pricing_grid .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.pricing_grid .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.pricing_grid .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
.pricing_grid .bg-blue{
  background-color:#337AB7 !important;
  }

  .pricing_grid .bg-green{
	background-color:#4CAF50 !important;
	}
.pricing_grid .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.pricing_grid .price .grey {
    background-color: #eee;
    font-size: 20px;
}

.pricing_grid .button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}