@media print {
::first-letter{
  margin: 0;
  padding: 0;
}
small{
	padding-top: 10px !important;
}
small::first-letter{
  /*margin: 0;*/
  padding-top: 10px !important;
  margin-top: 10px !important;
}
html, 
body {
    width: 1200px !important;
}
.hidden{display:none;visibility:hidden}
.visible-phone{display:none!important}
.visible-tablet{display:none!important}
.hidden-desktop{display:none!important}
.visible-desktop{display:inherit!important}

}