/* Main Panel */
.main-panel {
    background: #F5F5F5;
    position: relative;
    z-index: 2;
    float: none !important; 
    width: 100%; 
    min-height: 100%;
}

.navbar-header{
  padding-left: 15px !important;
}

footer{
  padding-bottom: 8px;
  padding-top: 20px;
}

.main-panel > .content {
    padding: 30px 15px;
    min-height: calc(100% - 273px);
}

/* Progress bar */
.irs-from:after, .irs-to:after, .irs-single:after {
    /*border-top-color: #ed5565;*/
}
.irs-from, .irs-to, .irs-single {
    /*background: #558bed;*/
}

/*!---------- 7. NAVIGATION ----------*/
.nav-container {
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav {
  background: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav ul {
  margin-bottom: 0;
}
.module {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: #898989;
}

.module a{
  color: #898989;
}

.module a:hover{
  color: #121212;
}


.module-group {
  display: inline-block;
}
.module.left,
.module-group.left {
  float: left;
}
.module.right,
.module-group.right {
  float: right;
}
nav .btn,
.nav-bar .btn {
  margin: 0;
  height: auto;
}
.nav-utility {
  height: 45px;
  line-height: 43px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.nav-utility i {
  position: relative;
  top: 1px;
}
.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
  border-bottom: 1px solid #ccc;
}
.nav-bar .module,
.nav-bar .module-group {
  height: 55px;
}
.nav-bar a {
  display: inline-block;
  height: 55px;
}
.logo {
  max-height: 60%;
}
.logo-light {
  display: none;
}
nav.nav-centered .logo {
  max-height: 64px;
  margin: 64px 0 40px 0;
}
nav.bg-dark .logo-light {
  display: inline;
}
nav.bg-dark .logo-dark {
  display: none;
}
.has-dropdown {
  padding-right: 18px;
}
.has-dropdown:after {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  content: "\e64b";
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.menu {
  width: 100%;
  height: 55px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu.inline-block {
  width: auto;
}
.menu li a {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #292929;
  opacity: 0.5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  max-width: 100%;
  white-space: normal;
}
.menu li a:hover {
  opacity: 1 !important;
}
.menu > li {
  margin-right: 32px;
  float: left;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
  list-style-type: none;
}
.menu > li:last-child {
  margin-right: 0;
}
.menu > li:last-child > ul {
  right: 0;
}
.menu > li:last-child > ul ul {
  left: auto;
  right: 100%;
}
.menu > li ul {
  width: 200px;
  padding: 8px 0;
  background: #292929;
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -1px;
}
.menu > li > ul > li {
  position: relative;
  line-height: 24px;
  width: 100%;
  vertical-align: top;
}
.menu > li > ul > li i {
  display: inline-block;
  margin-right: 2px;
}
.menu > li > ul > .has-dropdown:after {
  color: #fff;
  top: 5px;
  right: 24px;
  content: "\e649";
}
.menu > li > ul li a {
  color: #fff;
  height: auto;
  padding: 6px 24px;
}
.menu > li > ul > li > ul {
  left: 100%;
  top: 0;
}
.menu > li:hover > ul {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.menu > li > ul > li:hover > ul,
.has-dropdown:hover .mega-menu ul {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.mega-menu {
  width: auto !important;
  white-space: nowrap;
  line-height: 24px;
}
.mega-menu ul {
  position: relative !important;
  left: auto !important;
  padding: 0 !important;
}
.mega-menu > li {
  width: 200px !important;
  overflow: hidden;
  display: inline-block;
}
.mega-menu .title {
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  padding: 6px 24px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}
.make-right {
  right: 0;
}
.module.widget-handle {
  border-left: 1px solid #ccc;
  padding: 0 24px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
nav.nav-centered .module.widget-handle {
  border: none !important;
}
@media all and (max-width: 1100px) {
  .module.widget-handle {
    padding: 0 16px;
  }
}
.module.widget-handle i {
  font-size: 20px;
  line-height: 53px;
  opacity: 0.5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.module.widget-handle:hover i,
.module.active i {
  opacity: 1;
}
.widget-handle .function {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
  width: 200px;
  background: #292929;
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -2px;
  right: 0;
}
.module.widget-handle:hover .function {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.module.widget-handle .title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  display: none;
  opacity: .5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.module.widget-handle .title:hover {
  opacity: 1;
}
.widget-handle .cart {
  position: relative;
}
.widget-handle .cart .label {
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 17px;
  padding: 0;
  text-align: center;
  position: absolute;
  background: #47b475;
  top: 10px;
  right: -10px;
  border-radius: 50%;
}
.widget-handle .search-form {
  padding: 8px;
  display: inline-block;
  width: 100%;
  line-height: 50px;
}
.widget-handle .search-form input {
  margin: 0;
  font-size: 16px;
}
nav .widget {
  margin: 0;
  padding: 24px;
}
nav .widget .title {
  display: none !important;
}
nav .widget,
nav .widget a:not(.btn) {
  color: #fff;
}
nav .widget hr {
  border-color: #777;
  margin-bottom: 16px;
}
nav .widget hr:first-of-type {
  display: none;
}
.cart-widget-handle .function {
  width: auto;
  background: #fff;
}
.cart-widget-handle .function span {
  color: #222 !important;
}
nav .cart-overview {
  min-width: 300px;
  margin-bottom: 16px;
}
nav .cart-overview a {
  height: auto;
}
.language .menu > li ul {
  max-width: 150px;
}
.nav-open {
  max-height: 10000px !important;
  height: auto !important;
}
.nav-open .mobile-toggle {
  border-bottom: 1px solid #ccc;
}
@media all and (max-width: 1120px) {
  .menu > li {
    margin-right: 24px;
  }
}
.has-offscreen-nav .main-container {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
.offscreen-container {
  position: fixed;
  transform: translate3d(200%, 0, 0);
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate3d(200%, 0, 0);
  width: 50%;
  top: 0;
  height: 100%;
  min-height: 100vh;
  z-index: 20;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  overflow: hidden;
}
.offscreen-container.reveal-nav {
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
}
.main-container.reveal-nav {
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
}
.offscreen-left .offscreen-container {
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
}
.offscreen-left .offscreen-container.reveal-nav {
  transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
}
.offscreen-left .main-container.reveal-nav,
.offscreen-left nav.reveal-nav {
  transform: translate3d(50%, 0, 0) !important;
  -webkit-transform: translate3d(50%, 0, 0) !important;
  -moz-transform: translate3d(50%, 0, 0) !important;
}
.offscreen-container .close-nav {
  position: absolute;
  right: 24px;
  top: 16px;
  z-index: 24;
  font-size: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: .5;
}
.offscreen-container .close-nav:hover {
  opacity: 1;
}
.offscreen-container.bg-dark .close-nav i {
  color: #fff;
}
@media all and (max-width: 990px) {
  .offscreen-container {
    width: 100vw;
  }
  .offscreen-container.reveal-nav {
    transform: translate3d(0vw, 0, 0);
    -webkit-transform: translate3d(0vw, 0, 0);
    -moz-transform: translate3d(0vw, 0, 0);
  }
  .main-container.reveal-nav {
    transform: none !important;
  }
}
@media all and (max-width: 990px) {
  nav.fixed {
    position: absolute !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  nav.outOfSight {
    transform: translate3d(0, 0px, 0) !important;
    -webkit-transform: translate3d(0, 0px, 0) !important;
    -moz-transform: translate3d(0, 0px, 0) !important;
  }
  .nav-bar,
  .nav-bar .module-group,
  .nav-bar .module {
    height: auto;
    overflow: hidden;
  }
  .nav-bar .module {
    padding: 0 16px;
  }
  .nav-bar .module-group {
    width: 100%;
    padding: 16px 0;
  }
  .nav-bar .module-group .module {
    display: block;
    float: none;
    width: 100%;
  }
  nav.nav-centered .logo {
    margin: 24px 0 16px 0;
    max-height: 40px;
  }
  .menu {
    height: auto;
  }
  .menu.inline-block {
    width: 100%;
  }
  .menu a {
    height: auto;
    line-height: 24px;
    padding: 4px 0;
  }
  .menu li {
    line-height: 24px;
    float: none;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .menu > li ul {
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    left: 0;
  }
  .menu > li > ul {
    position: relative;
    opacity: 1;
    visibility: visible;
    display: none;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  .menu > li > ul > .has-dropdown:after {
    content: "\e64b";
  }
  .menu > li > ul > li > ul {
    left: 0;
    display: none;
    padding: 0;
  }
  .menu > li > ul li a,
  .mega-menu .title {
    padding: 4px 16px;
  }
  .has-dropdown .has-dropdown li {
    padding-left: 18px;
  }
  .has-dropdown {
    padding-right: 0;
  }
  .mega-menu {
    margin-left: 0 !important;
  }
  .mega-menu li {
    width: 100% !important;
  }
  .toggle-sub > ul,
  .toggle-sub .mega-menu ul {
    display: block !important;
  }
  .module.widget-handle {
    border-left: none;
    border-top: 1px solid #ccc;
    line-height: 40px;
    min-height: 40px;
  }
  .module.widget-handle .menu {
    line-height: 40px;
  }
  .module.widget-handle .menu li {
    line-height: 40px;
  }
  .module.widget-handle i {
    line-height: 40px;
  }
  .module.widget-handle .title {
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 8px;
  }
  .widget-handle .function {
    width: 100%;
    position: relative;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
    margin-top: 0;
    display: none;
    box-shadow: none !important;
  }
  .toggle-widget-handle .function {
    display: block !important;
  }
  .widget-handle .cart .label {
    width: 22px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    top: 18px;
  }
  .mobile-toggle {
    border-left: 1px solid #ccc !important;
    border-bottom: none !important;
  }
  .mobile-toggle i {
    line-height: 53px !important;
  }
  .mobile-toggle.absolute-xs {
    position: absolute;
    top: 0;
  }
  nav.nav-centered .mobile-toggle {
    width: 100%;
  }
  nav.bg-dark .module.widget-handle {
    border-top: 1px solid #444;
  }
  nav.bg-dark .mobile-toggle {
    border-left: 1px solid #444 !important;
  }
  nav.bg-dark .nav-open .mobile-toggle {
    border-bottom: 1px solid #444;
  }
}
nav.outOfSight {
  transform: translate3d(0, -200px, 0);
  -webkit-transform: translate3d(0, -200px, 0);
  -moz-transform: translate3d(0, -200px, 0);
}
nav.scrolled {
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
nav.fixed,
nav.absolute {
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  right: 0;
}
nav.absolute {
  position: absolute;
}
nav.fixed {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
nav.fixed .nav-utility {
  display: none;
}
nav.fixed.scrolled {
  visibility: visible;
  opacity: 1;
}
nav.transparent .menu > li > a,
nav.transparent .module.widget-handle i,
nav.transparent .nav-utility {
  color: #fff;
}
nav.transparent .nav-utility,
nav.transparent .nav-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav.transparent .module.widget-handle {
  border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
}
nav.transparent .menu > li > a,
nav.transparent .module.widget-handle i {
  opacity: 1;
}
nav.transparent .has-dropdown:after {
  color: #fff;
}
nav.transparent .logo-dark {
  display: none;
}
nav.transparent .logo-light {
  display: inline;
}
nav.transparent {
  background: none;
}
.has-offscreen-nav > nav.fixed {
  opacity: 1;
  transform: none;
  visibility: visible;
}
@media all and (max-width: 990px) {
  nav.transparent .nav-open {
    background: #fff;
  }
  nav.transparent .nav-open .menu > li > a,
  nav.transparent .nav-open .module.widget-handle i,
  nav.transparent .nav-open .nav-utility {
    color: #292929;
  }
  nav.transparent .nav-open .logo-dark {
    display: inline;
  }
  nav.transparent .nav-open .logo-light {
    display: none;
  }
  nav.transparent .nav-open .has-dropdown:after {
    color: #292929;
  }
  .menu > li:last-child > ul ul {
    right: 0;
  }
}
nav.transparent.fixed {
  background: #fff;
}
nav.transparent.fixed .logo-light {
  display: none;
}
nav.transparent.fixed .logo-dark {
  display: inline;
}
nav.transparent.fixed .menu > li > a,
nav.transparent.fixed .module.widget-handle i {
  color: #292929;
}
nav.transparent.fixed .menu > .has-dropdown:after {
  color: #fff;
  color: #292929;
}
nav.transparent.fixed .module.widget-handle {
  border-left: 1px solid #ccc;
}
nav.transparent.fixed .menu > li > a,
nav.transparent.fixed .module.widget-handle i {
  opacity: .5;
}
nav.bg-dark .menu > li > a,
nav.bg-dark .module.widget-handle i,
nav.bg-dark .nav-utility {
  color: #fff;
  opacity: .7;
}
nav.bg-dark .module.widget-handle {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
nav.bg-dark .nav-utility,
nav.bg-dark .nav-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav.transparent.fixed.bg-dark {
  background: #292929;
}
nav.transparent.fixed.bg-dark .menu > li > a,
nav.transparent.fixed.bg-dark .module.widget-handle i {
  color: #fff;
}
nav.nav-centered.outOfSight .logo {
  display: none;
}

.ais-refinement-list--label{
  display: block !important;
  font-weight: 300;
  padding-bottom: 5px;

}
.ais-refinement-list--label input[type=radio]{
  margin-right: 10px !important;
}
.hits-container .card h4 {
  font-size: 15px; 
  font-weight: 400 !important;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.card_tevo{
  font-weight: 700px !important;
  font-size: 45px;
  color: #5d5d5d;
  display: block;
  padding-bottom: 0px !important;
  margin-bottom: 4px !important
}
.card_tevo_label{
  color: #777;
  font-size: 12px !important;
  font-weight: 300 !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}
input[type=radio]
#search-input {
  margin: 1em 1em 1em;
  width: calc(100% - 2em);
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
.hit-name em {
  background: yellow;
}	

.select-role button {
  width: 100%;
  display: block;
}

.checkbox-error {
  margin: -15px 0px 0px 15px;
  color: #fb5788;
  display: none;
}

.badge_item{
  width: 96px;
  padding-right: 20px;
}

.books-search input {
  width: 100%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
}

.books-search input:focus {
  border-color: #A5CEF5;
}

.books-search .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  overflow: hidden;
  overflow-y: auto;
  position: absolute !important;
  z-index: 999;
}

.books-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5px;
  position: relative;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.books-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}
.dial-container {
  width: 40%;
  text-align: center;
}

.error1 {
  color: red;
  margin-top: -10px;
  margin-bottom: 5px;
  display: none;
}

.profile-card {
  text-align: center;
      font-weight: 400;
    font-size: 13px;
        color: rgba(0,0,0,.55);
        border: solid;
        border-width: 1px;
        border-color: rgba(0,0,0,.55);

}

.profile-card-number{
  display: block;
    font-weight: 200;
    color: #0084bf;
}

/*Profile billing sections*/
.pcj{font-weight: bold; margin-bottom: 4px;font-size: 11px;}
.pcj span{font-weight: normal; margin-left: 2px;}
.gclr {color: green;}
.rclr {color: red;}
/*stripe css*/
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.stripe_checkout_button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    margin-left: 12px;
    margin-top: 28px;
}
#card-errors {
    height: 20px;
    padding: 4px 0;
    color: #fa755a;
}


.ajax-loader {
  position: absolute;
  z-index: 999;
  background: rgba(183, 181, 181, 0.5);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  text-align: center;
}

.ajax-loader img {
  position: absolute;
  z-index: 999;
  width: 64px;
  left: 0;
  top: 0;
  height: 64px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.truncate {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.table-hidden {
  display: none;
}

/*----------------- Network Card Request ------------------*/

.width-100 {
  width: 100%;
}

.card-margin {
  margin: 0px 45px 20px 50px !important;
}

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.bg_custom-primary
{
  color:#fff;background-color:#23CCEF;
}

.swal-icon--custom {
  max-width: 30% !important;
}

tr.highlight {
  border-top: 14px solid #fff !important;
}
/*----------------- Network Card Request ------------------*/

/*color css class*/
.bg_custom-connected{color: #fff;background-color:#11bfe3;}
.bg_custom-danger{color: #fff;background-color: #A71F21;}
.bg_custom-danger2{color: #fff;background-color: red;}

.bg_custom-sucess1{color: #fff;background-color:#EDBF12;}
.bg_custom-sucess2{color: #fff;background-color:#87CB16;}
.bg_custom-sucess3{color: #fff;background-color:#11bfe3;}

.bg_custom-updated{color: #fff;background-color:#61A22B;}
.bg_custom-default{background-color:#808080;}


#87CB16