body{
  font-size: 14px;
}
p {
  font-size: 14px;
}

.site-footer {
    bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
}

.stat-box{
    
    border-left: thin solid #eee;
}


small{
  text-transform: uppercase;
}

table.datatable ul.dropdown-menu li a {
  padding-left: 10px;
}
.table .td-actions {
    min-width: 90px;
    width: 125px;
}
.table-wrapper{
 margin-left: -15px;
 margin-right: -15px;
}
.table-pad-15{
  margin-right: 15px;
  margin-left: 15px;
}
.margin-top-0{
  margin-top: 0 !important;
}



/*

Form Overrides

*/
.tagsinput-add{
  padding-top: 5px !important;
}

#tags_tag{
  padding-top: 5px;
}

.note-editor .panel-heading .caret {
    float: none !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.note-editable p{
  font-size: 14px;
}

ul.nav ul.nav i{
  margin-top: -5px;
}

ul.nav ul.nav i{
  margin-top: -5px;
}

ul.nav li ul.nav li a{
  padding-left: 30px !important;
  text-transform: uppercase;
  font-size: 90%;
}

ul.nav ul.nav i{
  text-transform: uppercase;
}

.select .btn {
  border-color: #CCC !important;
}

.radio-inline {
    vertical-align: inherit;
    margin-top: 0px;
}
/* 

Parsley 

*/
.parsley-errors-list{
  display: none;
}

.parsley-errors-list.filled{
  position: relative !important;
  display: inline-block !important;
  margin-top: -2px !important;
  margin-bottom: -8px !important;
  color: #fff !important;
  font-weight: normal !important;
  font-size: 11px !important;
  padding: 5px 8px !important;
  background: #23ccef !important;
  border-radius: 4px !important; 
  list-style: none; 
  font: 'Lato', sans-serif;
  color: #FFF;
} 

.parsley-errors-list.valid {
  display: none !important; 
}

.parsley-errors-list:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #23ccef;
  border-width: 5px;
  left: 30px;
  margin-left: -5px; 
  font: 'Lato', sans-serif;
}
small{
  font-size: .7em;
}
.h3_small{
  font-size: .15em !important;
}
.multiples_th{
  text-transform: uppercase !important;
  vertical-align: middle !important;
  font-size: .8em;
}
.multiples_td{
  padding: 8px !important;
}
.multiples_h2{
  display: block !important;
  text-align: center !important;
  font-size: 1.4em !important;
}
.multiples_small{
  display: block;
  text-align: center;
  font-size: .7em !important;
  color: #818a91 !important;
  text-transform: uppercase !important;
}
.h1_tevo{
  font-weight: 900;
  color: #000;
}
.tevo_naics_wrapper{
  margin-top: 10px;
}
.thermometer_wrapper {
  min-height: 239px;
  font-weight: 900;
  font-size: 1.2em;
  display: block;
  padding-top: 35px;
}
.tevo_naics_large{
  font-size: 2.6em;
}
.tevo_naics_padding_top{
  padding-top: 30px;
}
.thermometer_wrapper small{
  color: #818a91 !important;
  font-size: .8em;

}
.thermometer{
  min-width: 100% !important;
  height:8px !important;
  background-color:#ff0000 !important;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ff0000, endColorstr=#d9ff00) !important;
  background-image:-moz-linear-gradient(left, #8F3318 0%, #d9ff00 50%,#008F1F 100%) !important;
  background-image:linear-gradient(left, #8F3318 0%, #d9ff00 50%,#008F1F 100%) !important;
  background-image:-webkit-linear-gradient(left, #8F3318 0%, #d9ff00 50%,#008F1F 100%) !important;
  background-image:-o-linear-gradient(left, #8F3318 0%, #d9ff00 50%,#008F1F 100%) !important;
  background-image:-ms-linear-gradient(left, #8F3318 0%, #d9ff00 50%,#008F1F 100%) !important;
  background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#8F3318), color-stop(50%,#d9ff00),color-stop(100%,#4dbf00)) !important;
}

.flotTip-with-arrow {
  background: #60c84c;
  border-radius: 0.25rem;
  padding: .5rem 1rem;
  color: #fff;
  border: none; 
}
.flotTip-with-arrow::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  border-left: 6px solid transparent;
  border-top: 6px solid #60c84c;
  border-right: 6px solid transparent; 
}

/* Price columns */
@media (max-width: 1199px) {
  .price-page-wrapper {
    padding: 0 3rem; } }

.price-column {
  border: 1px solid #eceeef;
  border-radius: 0.25rem;
  margin-bottom: 4.5rem; }
  @media (max-width: 991px) {
    .price-column {
      max-width: 480px;
      margin-right: auto;
      margin-left: auto; } }

.pc__footer .btn {
  width: 100%;
  padding: .75rem 1rem;
  font-size: .875rem; }

.star-rating {
  color: gold; }
  .star-rating i {
    font-size: 1.25rem;
    margin-right: 4px; }

.price-plan-name {
  width: 80%;
  max-width: 180px;
  height: 42px;
  line-height: 42px;
  margin: 0 auto -20px;
  border-radius: 1000px; }

/* Upgrayed */
.upgrayed {
  background-color:rgba(175, 175, 175, 0.8) !important;
  position: absolute;
  top:0px;
  left:15px;
  right: 15px;
  bottom: 15px;
  z-index:99999;
  color:#FFF;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 120px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.upgrayed-accordian {
  background-color:rgba(175, 175, 175, 0.8) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index:99999;
  color:#FFF;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 120px;
  padding-right: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1200px)
.site-content {
    padding-left: 33px;
    padding-right: 120px;
}
.color-white{
  color: #FFF !important;
}

.tevo_report_score{
  font-size: 6.2em;
  font-weight: bold;
  color: #000;
}
.margin-bottom-0{
  margin-bottom: 0px !important;
}
.boldmultipliernumber{
  font-weight: bold;
}
.dark-text{
  color: #121212 !important;
}
.info-color{
  color: #000;
}

.display-1 {
    font-size: 2.2rem !important;
  }

.faq_header{
  text-transform: uppercase;
  padding-top: 30px;
  font-weight: 300;
}

/* Number Widget */
.x_number_widget_value {
    color: #777;
    font-family: "Lato",sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: -45px;
}

.x_number_widget_label{
    color: #999;
    font-family: "Lato",sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 0;
}
.x_number_widget_label i{
    color: #999;
    font-size: 12px;
}
.x_number_widget_wrapper{
   border-left: 1px solid #ddd;  
   padding-left: 7px;
   position: relative;
   padding-top: 42px;
   padding-bottom: 10px;
}
.card .title_right{
  margin-top: 6px;
}
.logo_padding{
  padding-top: 20px !important;
  padding-left: 20px !important;
}
.nav-bar{
  border: none !important;
}
.nav-utility{
  border: none !important;
}

.ais-hits--item .card{
  min-height: 240px !important;
}

.graphtip{
  padding: 10px !important;
  color: #fff !important;
  font-weight: normal;
  border-radius: 10px;
  font-size: 12px;
}
.ais-search-box--magnifier svg{
  height: 22px !important;
}
.button-bottom{
  position: absolute;
  bottom: 42px;
  right: 25px;
}