<%= x_card_top(title: "Proaffiliate") %>
<%= network_tabs("Pro Affiliates") %>
<div class="row">
	<div class="col-md-12">
		<h4>Proffiliate Form</h4>
		<form id="proaffiliate" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<%= x_input(name: "name", id: "name", value: @proaffiliate.name, label: "Name", required: true) %>
			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
</div>