<%= x_card_top(title: "Pro Affiliates") %>
<%= network_tabs("Pro Affiliates") %>

<!-- Start Table -->
<div class="table-wrapper">
 <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <a href="/network/pro-affiliates/add/" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Proaffiliate</a> 
 </div>
  <table class="datatable table table-hover">
    <thead>
      <tr>
        <th>Affilate Name</th>
        <th data-field="actions" class="td-actions text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @proaffiliates.each do |proaffiliate| %>
      <tr>
        
        <td><a href="/network/pro-affiliates/<%= proaffiliate.x_id %>/affiliates/"><%= proaffiliate.name %></a></td>
        <td>
          <a href="/network/pro-affiliates/<%= proaffiliate.x_id %>/affiliates/" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
          <a href="/network/pro-affiliates/edit/<%= proaffiliate.x_id %>" class="btn btn-xs btn-info"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
          <a href="/network/pro-affiliates/delete/<%= proaffiliate.x_id %>" class="btn btn-xs btn-danger delete-row" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o text-danger"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- End Table -->

<%= x_card_bottom %>
