<%= x_card_top(title: "FAQ") %>
  <% @faq_cat.each do |cat| %> 
    <%= x_card_top(title: cat.name) %>
     <div class="panel-group" id="accordion">
       <% cat.faqs.all(deleted: false,:order => [ :faq_order.asc ]).each do |faq| %>
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-target="#<%= faq.x_id %>" href="#" data-toggle="collapse">
                        <%= faq.name %>
                        <b class="caret"></b>
                    </a>
                </h4>
            </div>
            <div id="<%= faq.x_id %>" class="panel-collapse collapse">
                <div class="panel-body">
                     <%= faq.description %>
                </div>
            </div>
        </div>
        <% end %>
      </div>
    <%= x_card_bottom %>
  <% end %>
<%= x_card_bottom %>
