<div class="row">
	<div class="col-md-7">
		<%= x_card_top(title: "Plan Calculator") %>
		<form id="calculator" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="form-group">
				<label>Number of L2 reports Monthly</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
					<input type="text" class="form-control money" id="l2" name="post[l2]" value="0" placeholder="L2 reports" data-parsley-type="number" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label>Number of L4 reports Monthly (Average)</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
					<input type="text" class="form-control money" id="l4" name="post[l4]" value="0" placeholder="L4 reports" data-parsley-type="number" required="required" />
				</div>
			</div>
			<div class="form-group">
				<label>Number of L5 reports Monthly (Average)</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
					<input type="text" class="form-control money" id="l5" name="post[l5]" value="0" placeholder="L5 reports" data-parsley-type="number" required="required" />
				</div>
			</div>
			<%= x_submit(label: "Submit", css: "btn-info btn-fill") %>
		</form>
		<%= x_card_bottom %>
	</div>
	<div class="col-md-5">
		<%= x_card_top(title: "Suggested Plan") %>
		<%if @plan.present?%>
			<div class="row">
				<div class="col-md-4">
					<p><%= @up_down %></p>
					<span class="text-info"><h2><%= @plan %></h2></span>
				</div>
				<div class="col-md-8">
					<table style="width: 100%;">
						<tr>
							<td>Num. of L2 Reports</td>
							<td class="text-right"><%= @l2_reports_for_suggested_plan %></td>
						</tr>
						<tr>
							<td>Num. of L4 Reports</td>
							<td class="text-right"><%= @l4_reports_for_suggested_plan %></td>
						</tr>
						<tr>
							<td>Num. of L5 Reports</td>
							<td class="text-right"><%= @l5_reports_for_suggested_plan %></td>
						</tr>
						<tr>
							<td>Cost</td>
							<td class="text-right">$<%= @cost_for_suggested_plan/100 %></td>
						</tr>
					</table>
				</div>					
			</div>

		<%else%>
		<p>Submit the form to find suitable Plan for you.</p>
		<%end%>
		<%= x_card_bottom %>

		<%= x_card_top(title: "Your Current Plan is") %>
			<div class="row">
				<div class="col-md-4">
					<span class="text-info"><h2><%= @subscribed_plan %></h2></span>
				</div>
				<div class="col-md-8">
					<table style="width: 100%;">
						<tr>
							<td>Num. of L2 Reports</td>
							<td class="text-right"><%= @l2_reports %></td>
						</tr>
						<tr>
							<td>Num. of L4 Reports</td>
							<td class="text-right"><%= @l4_reports %></td>
						</tr>
						<tr>
							<td>Num. of L5 Reports</td>
							<td class="text-right"><%= @l5_reports %></td>
						</tr>
						<tr>
							<td>Cost</td>
							<td class="text-right">$<%= @cost/100 %></td>
						</tr>
					</table>
				</div>					
			</div>
		<%= x_card_bottom %>
	</div>
</div>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @roi_calculator %>") {
        swal({
        	icon: "success",
        	text: "You have used Roi Calculator scuccessfully."
        });  
      }
    });
  </script>
<% end %>