<% content_for :modal_title do %>Forrcast Form<% end %>
<% content_for :button_text do %>Save<% end %>
		<form id="forecast" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="row">
				<div class="col-md-12">
					<%= x_date(id: "end_date", name: "end_date", value: (@forecast.end_date.nil? ? Time.now : @forecast.end_date), label: "End Date", placeholder: "End Date") %>
					<%= x_select(name: "company_id", id: "company_id", value_col: "id", option_data: @companies, label: "Company", selected_value: @forecast.company_id) %>
					<%= x_select(name: "level", id: "level", option_data: get_report_levels, label: "Report Level",selected_value: @forecast.level.to_s) %>
				</div>
			</div>
		</form>
		