<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Forecasts") %>
		<%= profile_tabs("") %>
		<!-- Start Table -->
		<div class="table-wrapper">
			<div class="toolbar">
				<!--  Here you can write extra buttons/actions for the toolbar  -->
				<a href="/profile/forecast/add" class="btn btn-info btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add Forecats</a>
			</div>
			<table class="datatable table table-hover">
				<thead>
					<tr>
						<th>Company Name</th>
						<th>Report Level</th>
						<th data-field="actions" class="td-actions text-right">Actions</th>
					</tr>
				</thead>

				<tbody>
					<% @forecasts.each do |forecast| %>
						<tr>
							<td><%= forecast.company.name %></td>
							<td><%= forecast.level %></td>
							<td>
								<a href="/profile/forecast/<%= forecast.x_id %>/edit/" class="btn btn-xs btn-info" data-toggle="modal"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
								<a href="/profile/forecast/<%= forecast.x_id %>/delete/" class="btn btn-xs btn-danger delete-refresh" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o text-danger"></i></a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<!-- End Table -->

<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @forecast_added %>") {
        swal({
                	icon: "success",
                	text: "Forecast added successfully."
        });  
      }
    });
  </script>
<% end %>