 <div class="row">                   
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
   <%= x_card_top(title: "Forgot Password", header_css: "text-center")%>
   <form id="login" method="post" action="/login/forgot/" role="form" data-parsley-validate>
    <label>Enter your email and a new password will be sent to you:</label>
    <br><br>
    <%= x_email(name: "email", id: "email", label: "Email", required: true) %>
    <%= x_submit(label: "Send Password Reset", css: "btn-fill btn-info", icon: "fa fa-paper-plane") %>
    <div class="text-right"><a href="/login/"> Back To Login</a></div>
  </form>
  <%= x_card_bottom %>
</div>     