 <div class="row">                   
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
   <%= x_card_top%>
   <img src="/img/infovera-logo.png" width="225px" style="margin-bottom: 30px;">
   <form id="login" method="post" action="/login/" role="form" data-parsley-validate>
    <%= x_input(name: "email", id: "email", label: "Login", required: true) %>
    <%= x_password(name: "password", id: "password", label: "Password", required: true) %>
    <%= x_submit(label: "Login", css: "btn-fill btn-info", icon: "fa-check") %>
    <div class="text-right"><a href="/login/forgot/">Forgot Password?</a></div>
  </form>
  <%= x_card_bottom %>
</div>     