 <div class="row">                   
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
   <%= x_card_top(title: "Enter your new password:", header_css: "text-center")%>
   <form id="login" method="post" action="/login/reset/" role="form" data-parsley-validate>
    <%= x_password(name: "password", id: "password", label: "Password", required: true) %>
    <%= x_submit(label: "Reset Password", css: "btn-fill btn-info", icon: "fa-check") %>
  </form>
  <%= x_card_bottom %>
</div>     