<div class="row">
  <div class="col-md-8">
    <%= x_card_top(title: "Billing") %>
     <%= profile_tabs("Billing") %>
      <% count = 0 %>
    <p>&nbsp;</p>
    <h5>Charges</h5>
      <% if @charges.present? %>
        <div class="row">
          <% @charges.each do |charge| %>
            <% count = count + 1 %>
            <div class="col-md-6">
              <div class="panel">        
                <div class="panel-body">
                    <p class="pcj">Sr.No:<span><%= count  %></span></p>
                    <p class="pcj">Tr. Id:<span><%= charge.id %></span></p>
                    <p class="pcj">Invoice Id:<span><%= charge.invoice %></span></p>
                    <p class="pcj">Card Id:<span><%= charge.source.id %></span></p>
                    <p class="pcj">Amount:<span> $<%=  charge.amount/100 %></span></p>
                    <p class="pcj">Refunded Amount:<span><%= charge.amount_refunded %></span></p>
                    <p class="pcj">Description:<span><%= charge.description %></span></p>
                    <p class="pcj">Status:<span class="<%= charge.paid == true ? 'gclr' : 'rclr' %>"><%= charge.paid == true ? "Paid" : "Pending" %></span></p>
                  </div>
              </div>
            </div>
          <% end %>
        </div>  
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="panel">        
                <div class="panel-body">
                  <p>You do not have any past invoices.</p>
                </div>  
            </div>      
          </div>
        </div>  
      <% end %>          

    <%= x_card_bottom %>
  </div>
  <div class="col-md-4">
      <%= erb :"../modules/profile/views/widgets/contact_support" %>
  </div>
</div>