<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Categories") %>
	<%= profile_tabs("Categories") %>

	<p>&nbsp;</p>
<div class="row">
	<%@categories.each_with_index do |category,index|%>
		<div class="col-md-4">
			<strong><%=category.name%></strong>
			<hr>
			<%category.affiliate_subcategories.each do |subcategory|%>
				<% if check_specilitiy(subcategory.id,category.id,session[:affiliate_id]) %>
					<p><i class="fa fa-check text-success"></i> <%= subcategory.name %></p> 
				<% else %>
					<p><i class="fa fa-ban text-muted"></i> <%= subcategory.name %></p> 
				<% end %>
			<%end%>

		</div>

		<% if index == 2 %>
			</div>
			<div class="row">
				<div class="col-md-12"><p><br></p></div>
			</div>
			<div class="row">
		<% end %>
	<%end%>
</div>
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		
		<%= x_card_top(title: "Categories") %>
		Interested in being included in a category below? Contact us to request an inclusion into the category. 
		<%= x_card_bottom %>
				
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>