<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Description") %>
		<%= profile_tabs("Description") %>
		<p>&nbsp;</p>
		<form id="description" method="post" action="<%= @action %>" role="form" data-parsley-validate>
		<h5>Summary</h5>
		<%= x_textarea(name: "summary", id: "summary", value: @profile.summary, label: "Summary", required: false)  %>
		<h5>Description</h5>
		<%= x_html(name: "description", id: "description", value: @profile.description, label: "", required: false) %>
		<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>	
	</div>
	<div class="col-md-4">
		<%= x_card_top(title: "Description") %>
		Your description will appear in search results and in profile views that companies conduct. It's best to keep the summary to a couple lines. Be descriptive in what your deferentiating services are and what type of clients you look to attract. 
		<%= x_card_bottom %>
				
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>

<% content_for :js_scripts do %>
	<script>
		$(function() {
			if ("<%= @description_updated %>") {
				swal({
					icon: "success",
					text: "You have updated description successfully."
				});  
			}
		});
	</script>
<% end %>