<div class="row">
  <div class="col-md-8">
    <%= x_card_top(title: "Users") %>
      <%= profile_tabs("Users") %>
        <h5>User Information</h5>
        <table class="table">
          <tr>
            <td><strong>NAME:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.first_name rescue nil %> <%= @affiliate_user.last_name rescue nil %></p></td>
          </tr>
          <tr>
            <td><strong>USER NAME:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.user_name rescue nil %></p></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.email rescue nil %></p></td>
          </tr>
          <tr>
            <td><strong>WORK PHONE:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.work_phone rescue nil %></p></td>
          </tr>
          <tr>
            <td><strong>MOBILE:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.mobile rescue nil %></p></td>
          </tr>
          <tr>
            <td><strong>SUBSCRIBED PLAN:</strong></td>
            <td><p class="text-muted mb-0"><%= @affiliate_user.subscribed_plan rescue nil %></p></td>
          </tr>
        </table>
   
   <%= x_card_bottom %>
  </div>

  <div class="col-md-4">
    <%= erb :"../modules/profile/views/widgets/contact_support" %>
  </div>
</div>