<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Profile") %>
	<%= profile_tabs("Profile") %>
	<p>&nbsp;</p>
	<h5>Update Profile</h5>
	<form id="profile" method="post" action="<%= @action %>" role="form" data-parsley-validate>
		<h6>Address</h6>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<%= x_input(name: "address", id: "address", value: @profile.address, label: "Address", required: true) %>
			</div>
			<div class="col-md-6">
				<%= x_input(name: "address_2", id: "address_2", value: @profile.address_2, label: "Address 2", required: false) %>
			</div>
		</div>
			<div class="row">
				<div class="col-md-6">
					<%= x_input(name: "city", id: "city", value: @profile.city, label: "City", required: false) %>
				</div>
				<div class="col-md-3">
					<%= x_input(name: "state", id: "state", value: @profile.state, label: "State", required: false) %>
				</div>
				<div class="col-md-3">
					<%= x_input(name: "zip", id: "zip", value: @profile.zip, label: "Zip", required: false) %>
				</div>
			</div>

			<h6>Contact</h6>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<%= x_email(name: "email", id: "email", value: @profile.email, label: "Email", required: false) %>
				</div>
				<div class="col-md-6">
					<%= x_url(name: "web", id: "web", value: @profile.web, label: "Web URL", required: false) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= x_phone(name: "phone", id: "phone", value: @profile.phone, label: "Phone", required: false) %>
				</div>
				<div class="col-md-6">
					<%= x_url(name: "blog", id: "blog", value: @profile.blog, label: "Blog", required: false) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= x_url(name: "facebook", id: "facebook", value: @profile.facebook, label: "Facebook", required: false) %>
				</div>
				<div class="col-md-6">
					<%= x_url(name: "linkedin", id: "linkedin", value: @profile.linkedin, label: "LinkedIn", required: false) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= x_submit(label: "Update & Save", css: "btn-fill btn-info", icon: "fa-check") %>
				</div>
			</div>
	</form>
			
<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
   <%= erb :"../modules/profile/views/widgets/contact_support" %>
  </div>
</div>