<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Logo") %>
		<%= profile_tabs("Logo") %>
		<div class="row">
			<div class="col-md-8">
				<p>&nbsp;</p>
			</div>
		</div>
		<!-- Start  -->
		<div class="row">

			<!-- Start left col -->
			<div class="col-md-6">
			<form id="logo" method="post" action="<%= @action %>" role="form" data-parsley-validate enctype="multipart/form-data">
			<%= x_image_upload(name: "filename", id: "filename", value: "", label: "", required: true, default: @profile.logo_secure_url, height: "250") %>
			<%= x_submit(label: "Upload New Logo", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
			</div><!-- End left col -->

			<!-- Start right col -->
			<div class="col-md-6" style="margin-top: 20px;">
			<% unless @profile.logo_secure_url.nil? %>
				<div class="thumbnail">
					<img src="<%= @profile.logo_secure_url %>" style="padding: 20px">
				</div>
				<p><a href="/profile/logo/delete/" class="btn btn-danger btn-fill pull-right"><i class="fa fa-trash"></i> Delete Logo</a></p>
			<% end  %>
							
			</div><!-- End right  col -->

		</div>
		<!-- End  -->
		<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/profile/views/widgets/logo" %>
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @first_logo_upload_alert %>") {
        swal({
        	icon: "success",
        	text: "You have uploaded first logo."
        });  
      }
      if ("<%= @logo_updated %>") {
        swal({
        	icon: "success",
        	text: "You have updated logo successfully."
        });  
      }
    });
  </script>
<% end %>