<%= x_card_top(title: "Plan") %>
  <%= profile_tabs("Plan") %>
  <div class="row">
    <%= x_card_top(title: "Subscription Plans") %>
    <div class="pricing_grid">
      <div class="container">
        <div class="row">
            <div class="col-sm-2">
               <a href="/profile/plan/calculator/" class="btn btn-info btn-fill">Plan Calculator</a>
            </div>
            <div class="col-sm-8"> 
                <h2 class="title">Becoming an Infovera<sup>TM</sup> Affiliate</h2>
                <p class="sub-title">
                  <div class="well">
                    <ul>
                      <li>Be the <u>trusted advisor</u> that provides the only verifiable, market-value score and report for businesses</li>
                      <li>Show business owners the real gap between their current business value and their future business value</li>
                      <li>Gain a <u>new source of lead generation</u>, increasing your customer base and market share
                      </li>
                      <li>
                      Quickly add objective expertise that <u>differentiates and elevates</u> your offering
                      </li>
                      <li>
                      <u>Deepen and broaden client relationships</u> by offering unique and valuable data, helping them steer the course of their business
                      </li>
                      <li>
                      Help clients <u>increase the value of their business</u>, and focus on the issues that most impact their business.
                      </li>
                    </ul>
                  </div>
                </p>
            </div>

            <div class="row">
              <% @plans.reverse_each do |plan| %>  
                <div class="col-md-3"> 
                    <div class="table-columns">
                        <ul class="price">
                            <li class="header <%= @user.subscribed_plan_id == plan.id   ? 'bg-blue': ''%>"><%= plan.name%></li>
                            <li class="grey">$<%= plan.amount / 100%>/month</li>
                            <%case plan.id %>
                            <%when "affiliate"%>
                              <li>2 x TEVO® Score and Multiples reports/month</li>
                              <li>Access to Affiliate Portal</li>
                              <li>Visibility to Linked Company TEVO Scores/Reports</li>
                              <li>Logo & Link in Affiliate local listing on End User Portal</li>
                              <li>Bulk Rate Pricing for add'l L2's (call for specials/rates)</li>
                              <li>Access to pre-designed marketing campaigns</li>
                              <li>Training for Marketing and Integration of TEVO® tools</li>
                              <li>Badges (Affiliate, Certified, Preferred Certified) </li>
                              <li>Preferred Display in Search</li>
                            <%when "silver_pro"%>
                              <li>5 x TEVO® Score and Multiples reports/month</li>
                              <li>Listing on site for single location</li>
                              <li>Pro-Affiliate Accreditation Training/Onboarding</li>
                              <li>Data purchase special pricing (call for current SILVER rates)</li>
                              <li>InfoVera Referrals $250 each</li>
                              <li>SILVER Level Assessment</li>
                            <%when "gold_pro"%>
                              <li>10 x TEVO® Score and Multiples reports/month</li>
                              <li>Listing on site for 2 locations</li>
                              <li>Pro-Affiliate Accreditation Training/Onboarding</li>
                              <li>Data purchase special pricing (call for current GOLD rates)</li>
                              <li>InfoVera Referrals $150 each</li>
                              <li>GOLD Level Assessment</li>
                            <%when "platinum"%>
                               <li>50 x TEVO® Score and Multiples reports/month</li>
                              <li>Listing on site for 5 locations</li>
                              <li>Pro-Affiliate Accreditation Training/Onboarding</li>
                              <li>Data purchase special pricing (call for current PLATINUM rates)</li>
                              <li>NO CHARGE and PREFERENCE on all InfoVera Referrals</li>
                              <li>PLATINUM Level Assessment</li>
                            <%else%>
                
                            <%end%>
                            <% unless @user.subscribed_plan_id == plan.id %> 
                              <% if (@user.subscribed_plan_id.present? && @user.stripe_customer_id.present?) %>
                                <%if get_selected_plan_amount("#{@user.subscribed_plan_id}") < plan.amount%>
                                  <li class="grey"><a href="/profile/plan/subscription/<%=plan.id%>" class="btn btn-info btn-fill">Upgrade</a></li>
                                <%else%>
                                  <li class="grey"><a href="/profile/plan/subscription/<%=plan.id%>" class="btn btn-info btn-fill">Downgrade</a></li>
                                <% end -%>
                              <%else %>  
                                <li class="grey"><a href="/profile/plan/subscription/<%=plan.id%>" class="btn btn-info btn-fill">Sign Up</a></li>
                              <%end%>
                            <% end %> 
                        </ul>
                    </div>
                </div>
              <%end%>  
            </div>
        </div>
      </div>
     </div> 
  </div>
  <%= x_card_bottom %>
<%= x_card_bottom %>