<div class="row">
	<div class="col-md-6">
		<%= x_card_top(title: "Plan Upgrade") %>

<p>Thank you for upgrading your account. We'll be in contact shortly. If you have questions in the mean time, contact us.</p>
	<%= x_card_top(title: "Contact Us") %>
		<h5>Infovera</h5>
		<ul class="list-unstyled">
			<li>
				<a href="http://infovera.com" target="_blank">Infovera.com</a> <br>  
			</li>
			<li><a href="mailto:info@infovera.com">info@infovera.com</a></li>
			<li>844-840-INFO</li>
		</ul>
		<%= x_card_bottom %>
<%= x_card_bottom %>		
	</div>
</div>