<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Reset Password") %>
		<%= profile_tabs("Reset Password") %>
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-5">
				<form id="password" method="post" action="<%= @action %>" role="form" data-parsley-validate>
				<%= x_password(name: "password", id: "password", value: "", label: "New Password", required: true) %>
				<%= x_submit(label: "Reset", css: "btn-fill btn-info", icon: "fa-check") %>
				</form>
			</div>
		</div>	
		<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>