
<div class="row">
  <div class="col-md-8">
    <%= x_card_top(title: "Plan") %>
    <%= profile_tabs("Plan") %>
    <%= x_card_top(title: "Payment Form") %>
      <form id="charge-from" method="post" action="/profile/plan/subscription_checkout/" role="form">
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
          </div>
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="form-row">
          <label for="card-element">
            selected Plan
          </label>
          <div id="card-element">
            <input type="text" class="form-control" id="card_number" name="plan" value="<%= @selected_plan %>" readonly >
          </div>
        </div>
        <%= x_submit(label: "Checkout", css: "btn-fill btn-info stripe_checkout_button", icon: "fa-check") %>
      </form>
    <%= x_card_bottom %>  
    <%= x_card_bottom %>
  </div> 
  <div class="col-md-4">
    <%= x_card_top(title: "Have Questions?") %>
      <h5>Have a question?</h5>
      <p>We're here to help. Contact us with the information listed below: </p>
        <ul class="list-unstyled">
        <li>
          <a href="http://infovera.com" target="_blank">Infovera.com</a> <br>  
        </li>
        <li><a href="mailto:info@infovera.com">info@infovera.com</a></li>
        <li>844-840-INFO</li>
      </ul>
    <%= x_card_bottom %> 
  </div>
</div>

<!-- jeqry call for stripe -->
<% content_for :js_scripts do %>

 <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script> 
   var stripe = Stripe('<%= Sinatra::Application.settings.publishable_key %>');
// Create an instance of Elements
  var elements = stripe.elements();

    var style = {
      base: {
        color: '#32325d',
        lineHeight: '18px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    var form = document.getElementById('charge-from');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          stripeTokenHandler(result.token);
        }
      });
    });
      function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('charge-from');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    // Submit the form
    form.submit();
  }
  </script>
<% end %>
