<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Users") %>
<%= profile_tabs("Users") %>
<!-- Start Table -->
<div class="table-wrapper">
 <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <a href="/profile/users/add" class="btn btn-info btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add User</a>
 </div>
	<table class="datatable table table-hover">
		<thead>
			<tr>
				<th>Users</th>
				<th data-field="actions" class="td-actions text-right">Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @affiliate_users.each do |user| %>
			<tr>
				
				<td><a href="/profile/users/detail/<%= user.x_id %>/"><%= user.first_name %> <%= user.last_name %>
						</a></td>
				<td>
					<a href="/profile/users/edit/<%= user.x_id %>" class="btn btn-xs btn-info" data-toggle="modal"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
					<a href="/profile/users/delete/<%= user.x_id %>" class="btn btn-xs btn-danger delete-row" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o text-danger"></i></a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- End Table -->

<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>