<%= x_card_top(title: "Have Questions?") %>
<h5>Have a question?</h5>
<p>We're here to help. Contact us with the information listed below: </p>

	<ul class="list-unstyled">
	<li>
		<a href="http://infovera.com" target="_blank">Infovera.com</a> <br>  
	</li>
	<li><a href="mailto:info@infovera.com">info@infovera.com</a></li>
	<li>844-840-INFO</li>
</ul>
<%= x_card_bottom %>
		