<%= x_card_top(title: "Custom Logo") %>
<p>Drag and drop or click and select a logo that you'd like to have included in this portal and in the Tevo reports. </p>
<p>For best use, upload a PNG or JPEG file type. The file will be automatically optimized and sized, however its best to upload a high quality image that's 800px wide or greater. For best results in printable pdfs, upload an image that's 300 dpi.</p>
<%= x_card_bottom %>
		