<%= x_card_top(title: "Terms of Service") %>
<div id="terms" class="pre-scrollable">
	<%= @terms.terms %>
</div>
<form id="id" method="post" action="<%= @action %>" role="form" data-parsley-validate>
<%= x_checkbox(name: "agree", id: "agree", value: 1, checked: false,label: "Agree to terms") %>
<div class="checkbox-error">
	<p>Please select checkbox.</p>
</div>
<%= x_submit(label: "Continue", css: "btn-fill btn-info", icon: "fa-check") %>
</form>

<%= x_card_bottom %>

<% content_for :js_scripts do %>
	<script>
	  $(function() {
	    $('.btn-fill').on('click', function(e){
	      if ( !$("#agree:checked").length>0) {
	        $(".checkbox-error").show();
	        e.preventDefault();
	      }
	    });
	    $(document).on('change', 'input[type="checkbox"]', function(e){
        if ( $("#agree:checked").length>0) {
	        $(".checkbox-error").hide();
	      }
      });
		});
	</script>
<% end %>
