<%= x_card_top(title: "Network") %>
<%= network_tabs("Network") %>
	<div class="row">
    <div class="col-md-12">

      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= x_card_top(title: "Filters") %>
        <div id="search-box"></div>
        <hr>
          <div class="clear-all"></div> 
        <hr>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#affiliate_category" aria-expanded="true" aria-controls="tevo">
                  Affiliate Category
                </a>
              </h4>
            </div>
            <div id="affiliate_category" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body" id="affiliate_type"></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="advanceHeadingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#city_filters" aria-expanded="false" aria-controls="city_filters">
                  City
                </a>
              </h4>
            </div>
            <div id="city_filters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advanceHeadingOne">
              <div class="panel-body" id="city"></div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="advanceHeadingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#state_filters" aria-expanded="false" aria-controls="state_filters">
                  State
                </a>
              </h4>
            </div>
            <div id="state_filters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advanceHeadingTwo">
              <div class="panel-body" id="state"></div>
            </div>
          </div>
        </div>
      <%= x_card_bottom %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="text-muted"><div id="stats-container"></div></div class="text-muted"> 
        </div>
        <div class="col-md-6">
          <div id="btnContainer" class="text-right">
            <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
            <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div id="hits-container"></div>
      </div>
      <div class="row">
        <div id="hits-table" class="table-hidden"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="pagination-container"></div>
        </div>
      </div>
    </div>
  </div>
<%= x_card_bottom %>

<% content_for :js_scripts do %>
	

  <script>
    $(document).ready(function() {
      affiliateAlgoliaSearch();
    });
  </script>
<% end %>