<% content_for :modal_title do %>Company Details<% end %>
<% content_for :button_text do %>Close<% end %>

<!-- Start  -->
<div class="row">
  <!-- Start left col -->
  <div class="col-md-6">
    <h5>Company Information</h5>
    <table class="table">
      <tr>
        <td><strong>NAME:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.name %></p></td>
      </tr>
      <tr>
        <td><strong>NAICS:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.naics %></p></td>
      </tr>
      <tr>
        <td><strong>STRUCTURE:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.structure %></p></td>
      </tr>
      <tr>
        <td><strong>UBI:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.ubi %></p></td>
      </tr>

    </table>
  </div>
  <!-- End left col -->

  <!-- Start Right col -->
  <div class="col-md-6">
    <h5>Company Contact Information</h5>
    <table class="table">
      <tr>
        <td><strong>EMAIL:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.contact_email %></p></td>
      </tr>
      <tr>
        <td><strong>PHONE:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.phone %></p></td>
      </tr>
      <tr>
        <td><strong>WEBSITE:</strong></td>
        <td><p class="text-muted mb-0"><%= @company.website %></p></td>
      </tr>
    </table>
  </div>
  <!-- End Right col -->
</div>