<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "My Network") %>
		<%= network_tabs("My Network") %>
		<p>&nbsp;</p>
		<div class="row">
			<div class="col-md-12">		
				<% if @profile.affiliate_type == "ProAffiliate" %>	
					<%= x_card_top(title: "Your Affiliates List") %>
						<% if @affiliate_relationships.nil?  %>
								<em>You have no affiliates</em>
						<% else %>
							<!-- Start Table -->
							<div class="table-wrapper">
							 	<div class="toolbar">
							  <!--  Here you can write extra buttons/actions for the toolbar  -->
							 	</div>
								<table class="datatable table table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Companies</th>
										</tr>
									</thead>
									<tbody>
										<% @affiliate_relationships.each do |affiliate| %>				
										<tr>				
											<td><%= affiliate.name rescue nil %></td>
											<td><%= affiliate.affiliate_relationships.count rescue nil %></td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
							<!-- End Table -->
						<% end %>	
					<%= x_card_bottom %>
				<% else %>
					<%= x_card_top(title: "Your ProAffiliate") %>
						<% unless @proaffiliate.nil? == true %>	
							<div class="row">
								<div class="col-md-4">
									<% if @proaffiliate.logo_secure_url.present? %>
										<img src="<%= @proaffiliate.logo_secure_url rescue nil %>" class="thumbnail col-md-12">
									<% end %>
								</div>
								<div class="col-md-8">
									<h5><%= @proaffiliate.name %></h5>
									<hr>
									<%= @proaffiliate.address %> <%= @proaffiliate.city %>, <%= @proaffiliate.state %> <%= @proaffiliate.zip %>
									<br>
									Phone: <%= @proaffiliate.phone %> <br>
									Web: <a href="<%= @proaffiliate.web %>" target="_blank"><%= @proaffiliate.web %></a> <br>
									Email: <a href="mailto:<%= @proaffiliate.email %>"><%= @proaffiliate.email %></a> <br>
								</div>
							</div>
						<% end %>					
					<%= x_card_bottom %>

				<% end %>							
			</div>
		</div>
		<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/profile/views/widgets/contact_support" %>
	</div>
</div>
