<%= x_card_top(title: "Network Requests") %>
<%= network_tabs("Network Requests") %>
<div class="row">
	<div class="col-md-12">
		<hr>
		<div class="row">
			<% @requests.each do |request| %>
				<% company = request.company %>
					<div class="col-md-5 card card-margin">
						<div class="col-md-4 margin-top-15">
							<img name="logo-top" id="" class="width-100" alt="Infovera" src="/img/infovera-logo.png">
						</div>
						<div class="col-md-8 margin-top-bottom-10">
							<div>
								<h5 style="display: inline-block;">Name: <%= company.name %></h5>
								<span></span>
							</div>
							<div>
								<h5 style="display: inline-block;">Structure:</h5>
								<span><%= company.structure %></span>
							</div>
							<div>
								<h5 style="display: inline-block;">UBI:</h5>
								<span><%= company.ubi %></span>
							</div>
							<div>
								<h5 style="display: inline-block;">NAICS:</h5>
								<span><%= company.naics %></span>
							</div>
							<div>
								<h5 style="display: inline-block;">Phone:</h5>
								<span><%= company.phone %></span>
							</div>
							<div>
								<h5 style="display: inline-block;">Website:</h5>
								<span><%= company.website %></span>
							</div>
							<div>
								<% if request.is_form_company? %>
									<a href="/network/requests/<%= request.x_id %>/approve/" class="btn btn-fill btn-success">
										Accept
									</a>
									<a href="/network/remove/<%= request.x_id %>/affiliate_relationship/" class="btn btn-fill btn-danger" data-toggle="tooltip" data-placement="top" title="Decline">
										Delete
									</a>
									<a href="/network/<%= request.x_id %>/company_details/" class="btn btn-fill" data-toggle="modal" title="View Company">
										View Detail
									</a>
								<%elsif request.is_form_affiliate?%>
									<a href="/network/requests/delete/<%= request.x_id %>/" class="btn btn-fill btn-danger" data-toggle="tooltip" data-placement="top" title="Decline">
										Delete
									</a>
									<a href="/network/<%= request.x_id %>/company_details/" class="btn btn-fill" data-toggle="modal" title="View Company">
										View Detail
									</a>
								<%end%>
							</div>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>
<%= x_card_bottom %>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @first_network_connection_accept_alert %>") {
        swal({
                	icon: "success",
                	text: "You have approved first network request."
        });  
      }
    });
  </script>
<% end %>