<%= x_card_top(title: "Alerts") %>
	<div class="table-wrapper">
	 	<div class="toolbar">
	    <!--  Here you can write extra buttons/actions for the toolbar  -->
	    <!-- <a href="/alerts/add/" class="btn btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add Alert</a> -->
	 	</div>
		<table class="datatable table table-hover">
			<thead>
				<tr>
					<th>Alert Name</th>
					<th>Name</th>
					<th>Alert Date</th>
				</tr>
			</thead>

			<tbody>
				<% @alerts.each do |item| %>
				<tr class="<%= random_color(item.message) %> highlight">
					<td><%= item.name rescue nil %></td>
					<td><%= item.message %></td>
					<td><%= x_format_date(date: item.alert_date, show_month: true, show_time: false)%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

<%= x_card_bottom %>