<%= x_card_top(title: "Alerts") %>
<!-- Start  -->
<div class="row">
	<div class="col-md-12">
		<%= x_card_top(title: "Recent Reports") %>
			<table class="table table-striped">
				<tr>
					<td>Company</td>
					<td>Level</td>
					<td>Date</td>
				</tr>

				<tr>
					<td >
						<em><%=@alerts.company.name if @alerts.company.present? %></em>
					</td>
					<td></td>
					<td><%= @alerts.alert_date.strftime('%d %B %Y')%></td>
				</tr>
			</table>
		<%= x_card_bottom %>
	</div>
</div>

<%= x_card_bottom %>

		  