<% content_for :modal_title do %>Level 2 Data Form<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="company_data" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<div class="row">
		<div class="col-md-6">
			<input type="hidden" name="post[level]" value="2" />
			<%= x_money(name: "ebitda", id: "ebitda", value: @company_data.ebitda, label: "Assets", required: true) %>
		</div>
		<div class="col-md-6">
			<%= x_money(name: "cash", id: "cash", value: @company_data.cash, label: "Revenue", required: true) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= x_money(name: "ar", id: "ar", value: @company_data.ar, label: "AR", required: true) %>
		</div>
		<div class="col-md-6">
			<%= x_money(name: "inventory", id: "inventory", value: @company_data.inventory, label: "Inventory", required: true) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= x_money(name: "total_liabilities", id: "total_liabilities", value: @company_data.total_liabilities, label: "Total Liabilities", required: true) %>
		</div>
		<div class="col-md-6">
			<%= x_money(name: "total_revenue", id: "total_revenue", value: @company_data.total_revenue, label: "Revenue", required: true) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= x_input(name: "employee", id: "employee", value: @company_data.employee, label: "Employees", required: true) %>
		</div>
		<div class="col-md-6">
			<%= x_money(name: "revenue_per_employee", id: "revenue_per_employee", value: @company_data.revenue_per_employee, label: "Revenue per Employee", required: true) %>
		</div>
	</div>
</form>		