<% content_for :modal_title do %>Level 1 Data Form<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="company_data" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<div class="row">
		<div class="col-md-6">
			<input type="hidden" name="post[level]" value="1" />
			<%= x_money(name: "valuation_of_assets", id: "valuation_of_assets", value: @company_data.valuation_of_assets, label: "Assets", required: true) %>
		</div>
		<div class="col-md-6">
			<%= x_money(name: "total_revenue", id: "total_revenue", value: @company_data.total_revenue, label: "Revenue", required: true) %>
		</div>
	</div>
</form>		