<div class="row">
	<div class="col-md-12">
		<%= x_card_top(title: "Edit Data") %>
		<form id="company_data" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="row">
				
			 	<div class="col-sm-12">
			 		<%= x_input(name: "total_revenue", id: "total_revenue", value: @company_data.total_revenue, label: "Total Revenue", required: true) %>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12">
			 		<%= x_input(name: "number_of_ftes", id: "number_of_ftes", value: @company_data.number_of_ftes, label: "Number of FTES", required: true) %>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12">
			 		<%= x_input(name: "valuation_of_assets", id: "valuation_of_assets", value: @company_data.valuation_of_assets, label: "Valuation of Assets", required: true) %>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12">
			 		<%= x_input(name: "total_liabilities", id: "total_liabilities", value: @company_data.total_liabilities, label: "Total Liabilities", required: true) %>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12">
			 		<%= x_input(name: "ebitda", id: "ebitda", value: @company_data.ebitda, label: "EBITDA", required: true) %>
			 	</div>
			 </div>
			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
</div>