<%= x_card_top(title: "#{@company.name}") %>
 <%= company_detail_tabs("Company Data") %>

    
<!-- Start Table -->
<div class="table-wrapper">
 <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <a href="/companies/<%=@company.x_id%>/company_data/add_level1" class="btn btn-info btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add L1 Data</a> 
      <a href="/companies/<%=@company.x_id%>/company_data/add_level2" class="btn btn-info btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add L2 Data</a> 
      <!-- <a href="/companies/<%#=@company.x_id%>/company_data/add" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Data</a>  -->
 </div>
  <table class="datatable table table-hover">
    <thead>
      <tr>
        <th>Revenue</th>
        <th>Assets</th>
        <th data-field="actions" class="td-actions text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @company_data.each do |data| %>
      <tr>
        
        <td><a href="/companies/<%=@company.x_id%>/company_data/<%= data.x_id %>"><%= data.total_revenue %></a></td>
        <td ><%= data.valuation_of_assets %></td>
        <td>
          <a href="/companies/<%=@company.x_id%>/company_data/<%= data.x_id %>" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
          <a href="/companies/<%=@company.x_id%>/company_data/edit/<%= data.x_id %>" class="btn btn-xs btn-info"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
          <a href="/companies/<%=@company.x_id%>/company_data/delete/<%= data.x_id %>" class="btn btn-xs btn-danger delete-row" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o text-danger"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- End Table -->
<%= x_card_bottom %>