<div class="row">
	<div class="col-md-6">
		<%= x_card_top(title: "Contact Us") %>
		<h5>Infovera</h5>
		<ul class="list-unstyled">
			<li>
				<a href="http://infovera.com" target="_blank">Infovera.com</a> <br>  
			</li>
			<li><a href="mailto:info@infovera.com">info@infovera.com</a></li>
			<li>844-840-INFO</li>
		</ul>
		<%= x_card_bottom %>
				
	</div>
	<div class="col-md-6">
		<%= x_card_top(title: "Leave us a message") %>
		<form id="contact" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<%= x_html(name: "message", id: "message", value: @message, label: "Message", required:false) %>
			<%= x_submit(label: "Send", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
				
		<%= x_card_bottom %>
				
	</div>
</div>