<div class="row">
	<div class="col-md-8">
	<%= x_card_top(title: "#{@company.name}") %>
	<%= company_detail_tabs("Reports") %>
	<hr>
	<!-- Start Table -->
	<div class="table-wrapper">
	 	<div class="toolbar">
	    <!--  Here you can write extra buttons/actions for the toolbar  -->
	     <a href="/companies/<%= @company.x_id %>/score/l2" class="btn btn-info btn-fill">Order Level 2 Report <%= get_level2_credits_badge %></a>
	     <a href="/companies/<%= @company.x_id %>/reports/upload/" class="btn btn-info btn-fill" data-toggle="modal">Upload Level 4 or Level 5 Report</a>
	 	</div>
		<table class="datatable table table-hover">
			<thead>
				<tr>
					<th>Report Date</th>
					<th>Tevo Score</th>
					<th>Level</th>
					<th data-field="actions" class="td-actions text-right">Actions</th>
				</tr>
			</thead>
	
			<tbody>
				<% @reports.each do |report| %>
				<tr>
					
					<td><a href="/reports/<%= report %>"><%= x_format_date(date: report.created_at, show_month: true, show_time: false)%>
							</a></td>
					<td><%=  report.tevo%></td>
					<td><%= report.level %></td>
					<td>
						<a href="/companies/<%= params[:x_id] %>/reports/<%= report.id %>/" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
						<a href="/companies/<%= params[:x_id] %>/reports/edit/<%= report.id %>" class="btn btn-xs btn-info"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
						<a href="/companies/<%= params[:x_id] %>/reports/delete/<%= report.id %>" class="btn btn-xs btn-danger delete-row"><i class="fa fa-trash-o text-danger" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- End Table -->
<%= x_card_bottom %>

	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>