<% content_for :modal_title do %>Level 4 or 5 Report<% end %>
<% content_for :button_text do %>Upload<% end %>
<form id="report" method="post" action="<%= @action %>" role="form" data-parsley-validate>
<div class="row">
	<div class="col-md-12">
		<%= x_file(id: "pdf_file", name: "pdf_file", value: "", label: "pdf_file", required: true) %>
		<%= x_input(name: "tevo", id: "tevo", label: "Tevo", required: true) %>
		<%= x_input(name: "level", id: "level", label: "Level", required: true) %>
		<%= x_hidden(id: "company_id", name: "company_id", value: @company.id)  %>
		<%= x_hidden(id: "score_id", name: "score_id", value: @score_id)  %>
		<%= x_hidden(id: "affiliate_id", name: "affiliate_id", value: session[:affiliate_id])  %>
		<%= x_hidden(id: "affiliate_user_id", name: "affiliate_user_id", value: session[:affiliate_user_id])  %>
	</div>
</div>
</form>