<!-- Start  -->
<div class="row">
  <div class="col-md-12">
  <%= x_card_top(title: "#{@event.title}") %>
  <a href="/up_coming_events/" class="btn btn-fill"</i> Back</a>
  <p>&nbsp;</p>
<hr>
<div class="row">
  <div class="col-md-6">
    <%= x_card_top(title: "Event Information") %>
      <table class="table table-striped">
          <tr>
            <td><strong>Title:</strong></td>
            <td><p class="text-muted mb-0"><%= @event.title  %></p></td>
          </tr>
          <tr>
            <td><strong>Event Date:</strong></td>
            <td><p class="text-muted mb-0"><%=  x_format_date(date: @event.event_date, show_month: true, show_time: false) %></p></td>
          </tr>
        </table>
    <%= x_card_bottom %>   
  </div>
  <div class="col-md-6">
     <%= x_card_top(title: "Description") %>
      <table class="table table-striped">
          <tr>
            <td><strong>Description:</strong></td>
            <td colspan="2"><p class="text-muted mb-0"><%= @event.description%></p></td>
          </tr>
        </table>
    <%= x_card_bottom %>

  </div>
</div>
  <%= x_card_bottom %>
  </div><!-- End left col -->
</div>
<!-- End  -->