<%= x_card_top(title: "Upcoming Events") %>
<!-- Start Table -->
<div class="table-wrapper">
	<table class="datatable table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Event Date</th>
				<th data-field="actions" class="td-actions text-right">Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @up_coming_events.each do |item| %>
			<tr>
				<td><a href="/up_coming_events/<%= item.x_id %>"><%= item.title rescue nil %></a></td>
				<td><%= x_format_date(date: item.event_date, show_month: true, show_time: false) rescue nil %></td>
				<td>
					<a href="/up_coming_events/<%= item.x_id %>" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- End Table -->
<%= x_card_bottom %>