<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Affiliate Stats") %>
			<div class="row">
				<div class="col-md-6">
					<h6 class="text-muted">End User Profile Views This Past Week</h6>
					<div class="ct-chart" width="100%"></div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "Companies", value: 12, icon: "") %>
						</div>

						<div class="col-md-6">
							<%# if @affiliate.affiliate_type == "Proaffiliate" %>
								<%= x_number_widget(label: "Your Network", value: 2, icon: "") %>
							<%#end%>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "L4 Reports this month", value: 4, icon: "") %>
						</div>
						<div class="col-md-6">
							<%= x_number_widget(label: "L5 Reports this month", value: 5, icon: "") %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "L2 Credits", value: 6, icon: "") %>
						</div>
					</div>
				</div>
			</div>
		<%= x_card_bottom %>
		<%= x_card_top(title: "Alerts") %>
			<table class="table table-striped">
				<tr>
					<td>Company</td>
					<td>Date</td>
					<td>View</td>
				</tr>
				<tr>
					<td>
						<em> Watsica Group </em>
					</td>
					<td>
						<%= Date.today.strftime('%d %B %Y') %>
					</td>
					<td>
						Test message for Watsica Group
					</td>
				</tr>
				<tr>
					<td>
						<em> Kling-Kilback </em>
					</td>
					<td>
						<%= (Date.today - 5.days).strftime('%d %B %Y') %>
					</td>
					<td>
						Test message for Kling-Kilback
					</td>
				</tr>
			</table>

		<%= x_card_bottom %>

		<%= x_card_top(title: "Recent Reports") %>
			<table class="table table-striped">
				<tr>
					<td>Company</td>
					<td>Level</td>
					<td>Date</td>
					<td>View</td>
				</tr>
				<tr>
					<td>Watsica Group</td>
					<td>Level 2</td>
					<td><%= x_format_date(date: Date.today, show_month: true, show_time: false)%></td>
					<td>
						<a href="https://s3.amazonaws.com/infovera-reports-demo/demos/5th+Planet+Games+Sac+Aug-2016+L2+report.pdf" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs"> <i class="fa fa-cloud-download"></i></a>
					</td>
				</tr>
				<tr>
					<td>Kling-Kilback</td>
					<td>Level 4</td>
					<td><%= x_format_date(date: (Date.today - 2.days), show_month: true, show_time: false)%></td>
					<td>
						<a href="https://s3.amazonaws.com/infovera-reports-demo/demos/example-l4.pdf" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs"> <i class="fa fa-cloud-download"></i></a>
					</td>
				</tr>

			</table>

		<%= x_card_bottom %>

	</div>
	<div class="col-md-4">
		<%= x_card_top(title: "Level 2 Reports") %>
			<p>Create an enhanced view into your client's score and their multiple for you and your clientelle. </p> <p>Click on the button below to search for a company.</p>
			<hr>
			<a href="/companies" class="btn btn-info btn-fill btn-block">Select a Company for a Level 2 Report</a>
		<%= x_card_bottom %>

		<%= x_card_top(title: "Badges & Achievements") %>
			<div class="">

				<img src="/badges/medal.png" class="badge_item" data-toggle="tooltip" title="Became an affiliate">

				<%# if @l4_reports > 0%>
				<img src="/badges/rating-9.png" class="badge_item" data-toggle="tooltip" title="Created a Level 4 Reports">
				<%# end %>
				<%# if @l5_reports > 0%>
				<img src="/badges/rating-10.png" class="badge_item" data-toggle="tooltip" title="Created a Level 5 Report">
				<%# end %>

			</div>
		<%= x_card_bottom %>

		<%= x_card_top(title: "Affiliate Strength") %>
			<div class="row">
				<div class="col-md-5">
					<div class="">
						<input type="text" value=40 "<%#= affiliate_dail_value%>" class="dial">
					</div>
				</div>
				<div class="col-md-7">
					<h4>"Intermediate"<%#= affiliate_base_level%></h4>
					<hr>
					<p>	You're looking pretty good. Increase your strength by providing more Level 4 or Level 5 reports to existing or potential clients.</p>
				</div>
			</div>
		<%= x_card_bottom %>

		<%= x_card_top(title: "New from Infovera") %>
			Announcing new plans for Affiliates, Silver, Gold & Platinum. Get the most out of your affiliate relationship by taking advantage of the new plans. To upgrade and see plan details visit the <a href="/profile/plan">plan page</a> in your profile. 
			<hr>
			<p><a href="/profile/plan" class="btn btn-info btn-fill"><i class="fa fa-sliders"></i> See Affiliate Plans </a></p>
		<%= x_card_bottom %>
	</div>
</div>
<% content_for :js_scripts do %>

<!-- Chartist -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
  $(function() {
      $(".dial").knob({
      readOnly: true,
      fgColor: "<%= affiliate_base_color%>",
      width: "100%",
      displayInput: false,

      format: function (value) {
          return value + '%';
      }
  });
	new Chartist.Line('.ct-chart', {
	labels: ['<%= Date.today - 6.days %>','<%= Date.today - 5.days %>','<%= Date.today - 4.days %>', '<%= Date.today - 3.day %>', "<%= Date.today - 2.days %>", '<%= Date.today - 1.day %>', '<%= Date.today %>'],
	series: [
		[2,5,7, 3.5, 1, 4, 2.25]
	]
	}, {
	fullWidth: true,
		chartPadding: {
			right: 20
		}
	});


  });
</script>

<% end %>