
<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Affiliate Stats") %>
			<div class="row">
				<div class="col-md-6">
					<h6 class="text-muted">End User Profile Views This Past Week</h6>
					<div class="ct-chart" width="100%"></div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "Companies", value: @affiliate_companies, icon: "") %>
						</div>

						<div class="col-md-6">
							<% if @affiliate.affiliate_type == "Proaffiliate" %>
								<%= x_number_widget(label: "Your Network", value: @my_proaffiliate, icon: "") %>
							<%end%>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "L4 Reports this month", value: @l4_reports, icon: "") %>
						</div>
						<div class="col-md-6">
							<%= x_number_widget(label: "L5 Reports this month", value: @l5_reports, icon: "") %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<%= x_number_widget(label: "L2 Credits", value: @lvl2_credits, icon: "") %>
						</div>
					</div>
				</div>
			</div>
		<%= x_card_bottom %>
		<%= x_card_top(title: "Alerts") %>
			<table class="table">
				<tr>
					<td>Company</td>
					<td>Date</td>
					<td>View</td>
				</tr>
				<% if @alerts.present?%>
					<% @alerts.each do |alert| %>
						<tr class="<%= random_color(alert.message) %> highlight">
							<td>
								<em><%=alert.company.name.titleize rescue nil %></em>
							</td>
							<td><%= alert.alert_date.strftime('%d %B %Y') rescue nil %></td>
							<td>
								<%= alert.message rescue nil %>									
							</td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="4">
							<em>You have no recent alerts</em>
						</td>
					</tr>
				<% end %>
			</table>

		<%= x_card_bottom %>

		<%= x_card_top(title: "Recent Reports") %>
			<table class="table table-striped">
				<tr>
					<td>Company</td>
					<td>Level</td>
					<td>Date</td>
					<td>View</td>
				</tr>
			<% @affiliate.reports.all(limit:5, order: :date_created.desc).each do |report| %>	
				<tr>
					<td><%= report.company.name rescue nil %></td>
					<td>Level <%= report.level %></td>
					<td><%= x_format_date(date: report.date_created, show_month: true, show_time: false)%></td>
					<td>
						<% if !report.s3_path.nil? == true %>
						<a href="<%= get_loan_pdf_link_https(s3_path: report.s3_path)%>" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs" target="_blank"> <i class="fa fa-cloud-download"></i></a>
						<% elsif !report.score == 1%>	
							<a href="/companies/<%= report.company.x_id rescue nil %>/generate-report/<%= report.score.x_id rescue nil%>" data-toggle="tooltip" data-placement="top" title="View PDF" class="btn btn-xs" target="_blank"> <i class="fa fa-cloud-download"></i></a>
						<% else %>


						<% end %>
								
					</td>
				</tr>
			<% end %>
					
			</table>

		<%= x_card_bottom %>
				
	</div>
	<div class="col-md-4">
		<%= x_card_top(title: "Level 2 Reports") %>
			<p>Create an enhanced view into your client's score and their multiple for you and your clientelle. </p> <p>Click on the button below to search for a company.</p>
			<hr>
			<a href="/companies" class="btn btn-info btn-fill btn-block">Select a Company for a Level 2 Report</a>
		<%= x_card_bottom %>
				
		<%= x_card_top(title: "Badges & Achievements") %>
			<div class="">

				<img src="/badges/medal.png" class="badge_item" data-toggle="tooltip" title="Became an affiliate">

				<% if @l4_reports > 0%>
				<img src="/badges/rating-9.png" class="badge_item" data-toggle="tooltip" title="Created a Level 4 Reports">
				<% end %>
				<% if @l5_reports > 0%>
				<img src="/badges/rating-10.png" class="badge_item" data-toggle="tooltip" title="Created a Level 5 Report">
				<% end %>
				
				
			</div>
		<%= x_card_bottom %>

		<%= x_card_top(title: "Affiliate Strength") %>
			<div class="row">
				<div class="col-md-5">
					 <div class="">
						<input type="text" value="<%= affiliate_dail_value%>" class="dial">
					</div>
				</div>
				<div class="col-md-7">
					<h4><%= affiliate_base_level%></h4>
					<hr>
					<p>	You're looking pretty good. Increase your strength by providing more Level 4 or Level 5 reports to existing or potential clients.</p>
				</div>
			</div>
		<%= x_card_bottom %>
	

		<%= x_card_top(title: "New from Infovera") %>
			Announcing new plans for Affiliates, Silver, Gold & Platinum. Get the most out of your affiliate relationship by taking advantage of the new plans. To upgrade and see plan details visit the <a href="/profile/plan">plan page</a> in your profile. 
			<hr>
			<p><a href="/profile/plan" class="btn btn-info btn-fill"><i class="fa fa-sliders"></i> See Affiliate Plans </a></p>
		<%= x_card_bottom %>
	</div>
</div>
<% content_for :js_scripts do %>

<!-- Chartist -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
    $(function() {
        $(".dial").knob({
        readOnly: true,
        fgColor: "<%= affiliate_base_color%>",
        width: "100%",
        displayInput: false,
        
        format: function (value) {
            return value + '%';
        }
    });
	new Chartist.Line('.ct-chart', {
	labels: ['<%= Date.today - 6.days %>','<%= Date.today - 5.days %>','<%= Date.today - 4.days %>', '<%= Date.today - 3.day %>', "<%= Date.today - 2.days %>", '<%= Date.today - 1.day %>', '<%= Date.today %>'],
	series: [
		[<%= @six_day_before_affiliate_view %>,<%= @five_day_before_affiliate_view %>,<%= @four_day_before_affiliate_view %>, <%= @three_day_before_affiliate_view %>, <%= @two_day_before_affiliate_view %>, <%= @one_day_before_affiliate_view %>, <%= @affiliate_view %>]
	]
	}, {
	fullWidth: true,
		chartPadding: {
			right: 20
		}
	});


	});

	$(function() {
		if ("<%= @sign_in_alert %>") {
			swal({
				icon: "/badges/miscellaneous-min.png",
				title: "Welcome To InfoVera",
				text: "Congrats on your first log in! You are logged in under affiliate <%= @affiliate.name rescue nil %>."
			})
		}

	});
</script>
<% end %>
