<div class="row">
	<div class="col-md-8">
		<%= x_card_top(title: "Company Tevo Details
		") %>
		<%= company_detail_tabs("Tevo Scenerio") %>
		<div class="row">
			<div class="col-md-6">
				<h4><strong> ASSETS:</strong> <%= @score_details[0] ||= 0 %></h4>
			</div>
			<div class="col-md-6">
				<h4> <strong> REVENUE:</strong>  <%= @score_details[1] ||= 0 %></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4> <strong> TOTAL LIABILITIES:</strong>  <%= @score_details[2] ||= 0 %></h4>
			</div>
			<div class="col-md-6">
				<h4> <strong> TEVO:</strong>  <%= @tevo ||= 0 %></h4>
			</div>
		</div>
	<%= x_card_bottom %>
	</div>
	<div class="col-md-4">
		<%= erb :"../modules/companies/views/widgets/summary_widget" %>
	</div>
</div>		