<% content_for :modal_title do %>Add Company<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<%= x_select(name: "x_id", id: "company_id", value_col: "x_id", option_data: @companies, label: "Company") %>
</form>