<% content_for :modal_title do %>Group<% end %>
<% content_for :button_text do %>Save<% end %>
<form id="group" method="post" action="<%= @action %>" role="form" data-parsley-validate>
	<%= x_input(name: "name", id: "name", value: @group.name, label: "Name", required: true) %>
</form>