 <!-- Start  -->
<div class="row">

	<!-- Start left col -->
	<div class="col-md-8">
    <%= x_card_top(title: "Group #{@group.name}") %>
      <%= group_dashboard_tabs("Dashboard") %>
      <div class="chart" id="dash1-flotchart-1" style="width: 100%; height: 420px"></div>
    <%= x_card_bottom %>
	</div><!-- End left col -->

	<!-- Start right col -->
	<div class="col-md-4">
    <%= x_card_top(title: "Companies") %>
    <p><a id="groupAdd" href="/groups/<%= @group.x_id %>/companies/add/" class="btn btn-info btn-fill" data-toggle="modal"><i class="fa fa-plus"></i> Add Company</a></p>
    <table class="table text-nowrap">
    <thead>
      <th>Company</th>
      <th>TEVO</th>
      <th></th>
    </thead>
      <tbody>
      <% @affiliate_group_companies.each do |item| %>
      <tr>
        <td><a href="/companies/<%= item.company.x_id rescue nil%>" class="<%= "text-muted" if item.visible == false %>
            "><%= item.company.name %></a></td>
       <td><% last_tevo = item.company.tevo_reports.last rescue nil %> <%= last_tevo.tevo rescue nil %></td>
       <td>
        <% if item.visible == true  %>
          <a id="groupEyeSlash" href="/groups/<%= @group.x_id rescue nil%>/companies/toggle/<%= item.company.x_id rescue nil%>/hide/"><i class="fa fa-eye-slash"></i></a>
        <% else %>
          <a id="groupEye" href="/groups/<%= @group.x_id rescue nil%>/companies/toggle/<%= item.company.x_id rescue nil%>/show/"><i class="fa fa-eye"></i></a>
        <% end  %>
        <a id="groupTrash" href="/groups/<%= @group.x_id rescue nil%>/companies/remove/<%= item.company.x_id rescue nil%>"><i class="fa fa-trash"></i></a>
      </td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= x_card_bottom %>
	</div><!-- End right  col -->
	
</div>
<!-- End  -->
		
<% content_for :js_scripts do %>
    <script>
    $(function () {
      if ("<%= @first_company_added_to_group_alert %>") {
        swal({
                  icon: "success",
                  text: "You have added first company into group."
        });  
      }
     <% @affiliate_group_companies.all(visible: true).each do |item| %>
      <% @tevo_history = item.company.scores %>
      var data_<%= item.company.id %> = [
         <% @tevo_history.each do |th| %><% unless th.tevo == "" %>[<%= th.score_date.to_i*1000 %>, <%= th.tevo %>, '<%= item.company.x_id %>'],<% end %><% end %>
      ];
      <% end %>
       

       
    var plot1 = $.plot($('#dash1-flotchart-1'),
      [
       <% @affiliate_group_companies.all(visible: true).each_with_index do |item, index| %>
        {
        data: data_<%= item.company.id %>, 
        label: "<%= item.company.name rescue nil%> : "
        }<%= "," unless @affiliate_group_companies.size - 1 == index %>
      <% end %>
      ], 
      {
      series: {
        lines: {
          show: true,
          zero: true,
          fill: true,
          fillColor: {
            colors: [{ opacity: 0 }, { opacity: .2 }]
          }
        },
        points: { show: !0, radius: 4 },
        highlightColor: '#FAFAFA',
      },
      colors: ['#396AB1', '#DA7C30', '#3E9651', '#CC2529', '#535154', '#6B4C9A', '#922428', '#948B3D'],
      grid: {
        show: !0,
        hoverable: !0,
        borderWidth: 0,
        clickable: 1,
        margin: { left: 30, right: 30, bottom: 30, top: 30 }
      },
      xaxis: { 
        show: 1, 
        mode: "time", 
        minTickSize: [1, "quarter"],
        min: <%= (DateTime.now - 15.months).to_i * 1000 %>,
        max: <%= (DateTime.now + 2.month).to_i * 1000 %>
        // minTickSize: [1, "month"]
      },
      yaxis: { show: 1, min: 400, max: 890 },
      legend : {
        show: 0,
        labelFormatter: function(label, series) {
          return "<div class='ml-1 hidden' style='color: "+series.color+";'>"+ label +"</div>";
        }
      },
      // tooltip: { 
      //   show: !0,
      //   content: '%y',
      //   cssClass: 'flotTip-with-arrow',
      //   defaultTheme: !1,
      //   shifts: { x: -28, y: -60 }
      // }
    });
    // $("#dash1-flotchart-1").on("plothover", function(event, pos, item){
    // event.preventDefault();
    // document.body.style.cursor = 'default';
    // if (item) {
    //     document.body.style.cursor = 'pointer';
    // }
    // });
     $("#dash1-flotchart-1").on("plotclick",function(event,pos,item){
        if(item){
          url = item.series.data[item.dataIndex].slice(-1)[0];
          window.location.href = "/companies/" + url;
        }
    });
     function showTooltip(x, y, contents, z) {
        $('<div class="tooltip graphtip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 50,
            'font-size': '14px',
            // border: '1px solid rgb(255, 221, 221)',
            padding: '2px',
            'background-color': z,
            opacity: '0.8'
        }).appendTo("body").show();
    }
    
    $(".chart").bind("plothover", function (event, pos, item) {
        if (item){
            $(".tooltip").remove();
            var label = item.series.label;
            $([plot1]).each(function(i,plotObj){
                var someData = plotObj.getData();
                for (var i=0; i<someData.length; i++){
                    if (someData[i].label == label){
                        for (var j = 0; j < someData[i].data.length; j++){
                            var point = someData[i].data[j];
                            if (point[0] == item.datapoint[0]){
                                var somePos = plotObj.pointOffset({x: point[0], y: point[1]});  
                                var divPos = plotObj.getPlaceholder().offset();
                                showTooltip(somePos.left+divPos.left, somePos.top+divPos.top, label, item.series.color);
                            }
                        }
                    }                
                }               
            });
        }        
    });



    });
    </script>
<% end %>