<div class="row">

	<!-- Start left col -->
	<div class="col-md-8">
    <%= x_card_top(title: "Group: #{@group.name}") %>
    <%= group_dashboard_tabs("Financial") %>
    <hr>
      <table class="table table-noborder text-nowrap">
        <tr class="border-b-2">
          <th class="col-md-1">UBI</th>
          <th>Company</th>
          <th>Score</th>
        </tr>
        <% @group.affiliate_group_companies.each do |item| %>
         <%# @tevo_history = item.company.reports.last %>
         <% @score = item.company.scores.last %>             
        <tr>
          <td><%= item.company.ubi %></td>
          <td><%= item.company.name rescue nil %></td>
          <td width="300">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @score.financial_percentage.nil? ? 0 : @score.financial_percentage rescue nil %>%"></div>
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= (@score.financial_percentage.nil? ? 0 : @score.financial_percentage) + (@score.base_percentage.nil? ? 0 : @score.base_percentage) rescue nil%>%"></div>
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= (@score.financial_percentage.nil? ? 0 : @score.financial_percentage) + (@score.base_percentage.nil? ? 0 : @score.base_percentage) + (@score.systems_percentage.nil? ? 0 : @score.systems_percentage) rescue nil%>%"></div>
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= (@score.financial_percentage.nil? ? 0 : @score.financial_percentage) + (@score.base_percentage.nil? ? 0 : @score.base_percentage) + (@score.systems_percentage.nil? ? 0 : @score.systems_percentage)+ (@score.management_percentage.nil? ? 0 : @score.management_percentage) rescue nil%>%"></div>
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= (@score.financial_percentage.nil? ? 0 : @score.financial_percentage) + (@score.base_percentage.nil? ? 0 : @score.base_percentage) + (@score.systems_percentage.nil? ? 0 : @score.systems_percentage)+ (@score.management_percentage.nil? ? 0 : @score.management_percentage) + (@score.growth_percentage.nil? ? 0 : @score.growth_percentage) rescue nil%>%"></div>
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= (@score.financial_percentage.nil? ? 0 : @score.financial_percentage) + (@score.base_percentage.nil? ? 0 : @score.base_percentage) + (@score.systems_percentage.nil? ? 0 : @score.systems_percentage)+ (@score.management_percentage.nil? ? 0 : @score.management_percentage) + (@score.growth_percentage.nil? ? 0 : @score.growth_percentage) + (@score.overall_percentage.nil? ? 0 : @score.overall_percentage) rescue nil%>%"></div>
            </div>
          </td>
        </tr>
        
        <% end %>
      </table>
    <%= x_card_bottom %>
        
	</div><!-- End left col -->

<!-- Start right col -->
<% unless @affiliates.nil? %>
  <div class="col-md-4">
  
           <% @affiliates.each do |affiliate| %>
            <%= x_card_top(title: "#{affiliate.company.name}") %>
            <%= affiliate.company.name %><br>
            <%= affiliate.company.phone %> <br>
            <%= affiliate.company.website %> 
            <%= x_card_bottom %>
          <% end %>

  </div><!-- End right  col -->
<% end %>
</div>
<!-- End  -->