<div class="row">
	<div class="col-md-6">
		<%= x_card_top(title: "Affiliate Group") %>
		<form id="group" method="post" action="<%= @action %>" role="form" data-parsley-validate>
			<div class="row">
			 	<div class="col-md-12">
			 		<%= x_input(name: "name", id: "name", value: @group.name, label: "Name", required: true) %>
			 	</div>
			</div>
			<%= x_submit(label: "Save", css: "btn-fill btn-info", icon: "fa-check") %>
		</form>
		<%= x_card_bottom %>
	</div>
</div>