<%= x_card_top(title: "Groups") %>

<% if @groups.count == 0 %>
    <p><em>No companies are listed in this group.</em></p>
    <p>You can add them here: </p>
    <p>  <a href="/groups/add" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Group</a> </p>
<% else %>
    
<!-- Start Table -->
<div class="table-wrapper">
 <div class="toolbar">
      <!--  Here you can write extra buttons/actions for the toolbar  -->
      <a href="/groups/add" class="btn btn-info btn-fill"><i class="fa fa-plus"></i> Add Group</a> 
 </div>
  <table class="datatable table table-hover">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Companies</th>
        <th data-field="actions" class="td-actions text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
      <tr>
        
        <td><a class="groupLink" href="/groups/dashboard/<%= group.x_id %>"><%= group.name %></a></td>
        <td ><%= group.affiliate_group_companies.companies.count %></td>
        <td>
          <a href="/groups/dashboard/<%= group.x_id %>" class="btn btn-xs btn-default"><i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Detail"></i></a>
          <a href="/groups/edit/<%= group.x_id %>" class="btn btn-xs btn-info"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
          <a href="/groups/delete/<%= group.x_id %>" class="btn btn-xs btn-danger delete-row" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o text-danger"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- End Table -->
<% end %>
    
<%= x_card_bottom %>

<% content_for :js_scripts do %>
  <script>
    $(function() {
      if ("<%= @group_create_alert %>") {
        swal({
                  icon: "success",
                  text: "You have created your first group."
        });  
      }
      if ("<%= @group_count %>") {
        swal({
                  icon: "success",
                  text: "<%= @group_count %> groups added into Affiliate."
        });  
      }
    });
  </script>
<% end %>